---
---

@charset "utf-8";


// Our Variables
$base-font-family:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$rem:				24px;

// Font Sizes
$font-xxl:			5rem;
$font-xl:			3rem;
$font-l:			2rem;
$font-m:			1.5rem;
$font-s:			1rem;
$font-xs:			.5rem;

$green:				rgb(0, 255, 146);
$lightgreen:		rgb(152, 240, 200);

$turquoise:			rgb(0, 222, 209);
$lightturquoise:	rgb(145, 230, 223);

$blue:				rgb(64, 0, 255);
$lightblue:			rgb(168, 197, 255);

$purple:			rgb(111, 46, 255);
$lightpurple:		rgb(200, 176, 255);

$pink:				rgb(255, 0, 97);
$lightpink:			rgb(255, 148, 189);

$red:				rgb(255, 21, 30);
$lightred:			rgb(255, 125, 129);

$orange:			rgb(255, 84, 0);
$lightorange:		rgb(255, 128, 83);

$yellow:			rgb(224, 245, 0);
$lightyellow:		rgb(216, 242, 130);

$indigo:			rgb(0,0,86);
$darkblue:			$indigo;

$gray:				rgb(87, 85, 86);
$lightgray:			lighten($gray, 50%);

$text-color:		$indigo;
$link-color:		$indigo;

$columns:			6;

$gutter:			48px;

$desktop:           900px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
@mixin media-query-max($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@mixin media-query-range($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// @function stroke($stroke, $color)

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout"
;
