
// Hero Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.hero-section {
	position: relative;
	height: calc(100vh + 60px);
	padding: 0;
}

.hero-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	img {
		min-width: 100%;
		height: calc(100vh + 60px);
	}
}

.hero-logo {
	width: 70%;
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	z-index: 999;
	filter: none;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);

	@include breakpoint(700px) {
		width: 60%;
	}

	@include breakpoint($tablet-landscape) {
		width: 50%;
	}

	@include breakpoint($desktop) {
		width: 45%;
	}

	img {
		width: 100%;
	}
}
