
// Mission Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.mission-section {
	background-color: $lightyellow;

	.p1 {
		@include span(4 of 4);
	}

	.p2 {
		@include span(4 of 4);
	}

	.bg-pattern-1 {
		display: none;
	}

	.bg-pattern-2 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 725vh;

		@include with-layout(8) {
			.section__title-xl {
				top: $baseline * 29;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 53vh;
				}
			}
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: $baseline * 16;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 26vh;
				}
			}
			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: $baseline * 21;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 38vh;
				}
			}
		}

		.bg-pattern-1 {
			display: block;
			position: fixed;
			left: 62.5vw;
			top: -40vh;
			width: 25vw;
		}

		.bg-pattern-2 {
			display: block;
			position: fixed;
			left: 6.25vw;
			top: 15vh;
			width: 25vw;
		}
	}

	@include breakpoint($desktop-hd) {
		.bg-pattern-1 {
			top: -50vh;
		}

		.bg-pattern-2 {
			top: 10vh;
		}
	}

}
