
// Mission Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.mission-section {
	background-color: $lightyellow;

	.p1 {
		@include span(4 of 4);
	}

	.p2 {
		@include span(4 of 4);
	}

	.bg-pattern-1 {
		display: none;
	}

	.bg-pattern-2 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 800vh;

		@include with-layout(8) {
			.section__title-xl {
				top: 60vh;
			}
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: 26vh;
			}
			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: 38vh;
			}
		}

		// figure {display: none;}

		.bg-pattern-1 {
			display: block;
			position: fixed;
			left: 40vw;
			top: -40vh;
			width: 75vw;
		}

		.bg-pattern-2 {
			display: block;
			position: fixed;
			left: -40vw;
			top: 15vh;
			width: 75vw;
		}
	}

	@include breakpoint($desktop-hd) {
		// TODO: calculate section height dynamically
		height: 800vh;

		@include with-layout(8) {
			.section__title-xl {
				top: $baseline * 32;
				// top: 49.65%; // old
			}
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: $baseline * 16;
				// top: 30.6%; // old
			}
			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: $baseline * 21;
				// top: 41.5%; // old
			}
		}

		.bg-pattern-1 {
			top: -50vh;
		}

		.bg-pattern-2 {
			top: 10vh;
		}
	}

}
