
// Mission Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.mission-section {
	background-color: $lightyellow;

	.p1 {
		@include span(4 of 4);
	}

	.p2 {
		@include span(4 of 4);
	}

	.bg-pattern-1 {
		display: none;
	}

	.bg-pattern-2 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 800vh;

		@include with-layout(8) {
			.section__title-xl {
				top: $baseline * 32;
				// top: 49.65%; // old
			}
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: $baseline * 16;
				// top: 30.6%; // old
			}
			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: $baseline * 23;
				// top: 41.5%; // old
			}
		}

		.bg-pattern-1 {
			display: block;
			position: fixed;
			left: 40%;
			top: 0%;
			width: 75%;
			height: 117%;
		}

		.bg-pattern-2 {
			display: block;
			position: fixed;
			left: -45%;
			top: 50%;
			width: 1440px;
			height: 117%;
		}
	}

}
