
// Principles Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.principles-section {
	background-color: $lightpurple;

	.principles__list {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: $baseline;
		counter-reset: principles;
	}
	.principles__item {
		@include span(4 of 4);
		position: relative;
		padding-top: 0.001px;
		padding-bottom: $baseline;

		h3 {
			padding: 0;
			font-size: ms(2);
			line-height: $baseline * 2.5;
			color: #fff;
			@include align-to-baseline( ms(2), $baseline * 2.5 );
			padding-bottom: $baseline * 0.5;

			span {
				color: $indigo;
			}

		}

		// &:before {
		// 	display: inline-block;
		// 	content: counter(principles, decimal-leading-zero);
		// 	counter-increment: principles;
		// 	font-size: ms(2);
		// 	line-height: $baseline * 2;
		// 	color: $indigo;
		// 	@include align-to-baseline( ms(2), $baseline * 2 );
		// 	// display: none;
		// }
	}

	.bg-pattern-1,
	.bg-pattern-2 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 435vh;

		@include with-layout(8) {
			.principles__item {
				position: fixed;
				@include span(3 of 8);
				top: 0;

				&:nth-child(odd) {
					left: span(1 of 8 wide);
				}

				&:nth-child(even) {
					left: span(4 of 8 wide);
				}
			}
		}

		.bg-pattern-1,
		.bg-pattern-2 {
			display: block;
		}

		.bg-pattern-1 {
			position: fixed;
			left: 50%;
			top: 15%;
			// width: 75%;
			// height: 117%;
		}

		.bg-pattern-2 {
			position: fixed;
			left: -109.2%;
			top: -80%;
			// width: 75%;
			// height: 117%;
		}
	}
}
