
// Site Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.site-section {
	background-color: $lightgreen;

	.p1,
	.p2,
	.p3 {
		@include span(4 of 4);
	}

	.map {
		@include border;
		height: 0;
		padding-bottom: 54%;
		padding-bottom: 100%;
		background-color: #c11565;
	}

	.bg-pattern-1,
	.bg-pattern-2 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 1350vh;

		@include with-layout(8) {
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(3 of 8 wide);
				top: 19.6%;
				// top: $baseline * 11;
				top: $baseline * 9;
			}

			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: 48.8%;
				// top: $baseline * 27;
				top: $baseline * 25;
			}

			.p3 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: 59.75%;
				// top: $baseline * 30;
				top: $baseline * 28;
			}

			[class*='image-'] {
				position: fixed;
				top: -100%;
				z-index: 9;
				display: none;
			}

			.image-00 {
				@include span(3 of 8);
				left: span(3 of 8 wide);
			}

			.image-01 {
				@include span(3 of 8);
				width: span(4 of 8 wide);
			}

			.image-02 {
				@include span(4 of 8);
				left: span(2 of 8 wide);
			}

			.image-03 {
				@include span(3 of 8);
				left: span(4 of 8 wide)
			}

			.image-04 {
				@include span(4 of 8);
				left: span(1 of 8 wide);
			}

			.image-05 {
				@include span(2 of 8);
				left: span(1 of 8 wide);
			}

			.map {
				padding-bottom: 70%;
				display: none;
			}
		}

		.bg-pattern-1 {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			right: 0%;
			display: block;
		}
		.bg-pattern-2 {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			left: -45%;
			display: block;
		}
	}


}
