
// Team Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.team-section {
	background-color: $lightorange;

	.p1 {
		@include span(4 of 4);
	}

	figure {
		img{
			margin-bottom: 0
		}

		figcaption {
			line-height: $baseline * 1.5;
		}
	}

	.expert-team-list {
		@include susy-clearfix;
		@include span(4 of 4 nest);
		list-style: none;
		padding: 0;
		margin: 0;
		padding-top: $baseline * 6;
	}

	.expert-team-block {
		@include span(4 of 4);
		margin-bottom: $baseline * 3;

		img {
			display: block;
			max-width: 60%;
			margin: 0 auto;
		}

		@include breakpoint($tablet-portrait) {
			@include span(2 of 4);
			height: $baseline * 5;

			display: flex;
			align-items: center;

			img {
				max-width: 80%;
			}

			&:nth-child(6) {
				img {
					max-width: 60%;
				}
			}

		}
	}

	.bg-pattern-1 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 550vh;

		@include with-layout(8) {
			.section__title-xl {
				top: $baseline * 32;
				z-index: 9;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 60%;
				}
			}

			.team-photo {
				@include span(5 of 8);
				left: span(2 of 8 wide);
				top: 22%;
				top: $baseline * 10;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 12%;
				}
			}

			.expert-team-block {
				position: fixed;
				@include span(3 of 8);
				height: $baseline * 8;
				display: block;

				&:nth-child(odd) {
					left: span(1 of 8 wide);
				}

				&:nth-child(even) {
					left: span(4 of 8 wide);
				}

				&:nth-child(1),
				&:nth-child(2) {
					top: $baseline * 12;

					@include breakpoint("min-aspect-ratio" "3/2") {
						top: 15%;
					}
				}

				&:nth-child(3),
				&:nth-child(4) {
					top: $baseline * 22;

					@include breakpoint("min-aspect-ratio" "3/2") {
						top: 40%;
					}
				}

				&:nth-child(5),
				&:last-child {
					top: $baseline * 32;

					@include breakpoint("min-aspect-ratio" "3/2") {
						top: 65%;
					}
				}

				img {
					display: block;
					max-width: 100%;
					max-height: 100%;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}

				&:nth-child(1) {
					img {
						width: 30%;
					}
				}

				&:nth-child(2),
				&:nth-child(5) {
					img {
						width: 50%;
					}
				}

			}
		}

		.bg-pattern-1 {
			display: block;
			position: fixed;
			top: -12%;
			left: 36%;
			width: 106vh;
		}
	}

}
