
// Timeline Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.timeline-section {
	background-color: $lightblue;

	.timeline-arrow {
		display: inline-block;
		margin-left: gutter(4);
		margin-top: $baseline;
		height: calc(#{$baseline} * 3 - 1px);
		font-size: 0;
		line-height: 0;

		svg {
			width: 1.5rem;
		}
	}

	@include breakpoint(max-width $tablet-landscape - 1) {
		.timeline-carousel {
			width: 100%;
			padding-top: $baseline * 2;

			.slick-list {
				width: 100%;
			}

			.timeline-carousel__item {
				// padding: 0 5.35%; // relative to viewport width
				padding: 0 0.333%; // relative to .slick-track

				h3 {
					font-size: ms(2);
					line-height: $baseline * 2.5;
					color: #fff;
					@include align-to-baseline( ms(2), $baseline * 2.5 );
					padding-bottom: $baseline * 0.5;
				}

				p {
					margin-bottom: 0;
				}
			}

			// Dots
			.slick-dots {
				position: absolute;
				top: calc(-#{$baseline} * 3 + 1px);
				right: 5.5%;
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: left;
				font-size: 0;
				line-height: 0;

				@include breakpoint($tablet-portrait) {
					top: calc(-#{$baseline} * 3.5 + 1px);
				}

				li {
					position: relative;
					float: left;
					margin: 0;
					margin-right: $baseline;
					margin-bottom: $baseline;
					padding: 0;
					font-size: 0;
					line-height: 0;

					&:nth-child(7),
					&:nth-child(14) {
						margin-right: 0;
					}
					&:nth-child(8) {
						clear: both;
					}
				}

				li button {
					font-size: 0;
					line-height: 0;
					display: block;
					width: $baseline * 0.5;
					height: $baseline * 0.5;
					padding: 0;
					margin: 0;
					cursor: pointer;
					border: 0;
					outline: none;
					border-radius: 50%;
					background: $indigo;

					@include breakpoint($tablet-portrait) {
						width: $baseline * 0.75;
						height: $baseline * 0.75;
					}
				}

				li button:hover,
				li button:focus {
					outline: none;
				}

				li.slick-active button {
					background: #fff;
				}
			}

		}
	}

	.bg-pattern-1 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 350vh;

		@include with-layout(8) {
			.timeline-arrow {
				position: fixed;
				top: 45%;
				top: $baseline * 20;
			}
			.timeline-arrow--prev {
				left: span(1 of 8 wide);
			}
			.timeline-arrow--next {
				left: span(1 of 8 wide) + (span(1 of 8 wide) / 2);
			}

			.timeline-carousel {
				position: fixed;
				@include span(3 of 8);
				left: span(3 of 8 wide);
				top: $baseline * 18;
			}

			.timeline-carousel__item {
				// background: red;
				h3 {
					font-size: ms(3);
					line-height: $baseline * 4;
					color: $indigo;
					@include align-to-baseline( ms(3), $baseline * 4 );
					padding-bottom: $baseline;
				}
				p {}
			}

			// Dots
			.slick-dots {
				position: absolute;
				top: 46%;
				left: -68.5%;
				width: 55%;
				padding: 0;
				margin: 0;
			    list-style: none;
			    text-align: left;
				font-size: 0;
				line-height: 0;

				// @include breakpoint($tablet-portrait) {
				// 	top: calc(-#{$baseline} * 3.5 + 1px);
				// }

				li {
					position: relative;
					float: left;
					margin: 0;
					margin-right: $baseline;
					margin-bottom: $baseline;
					padding: 0;
					font-size: 0;
					line-height: 0;

					// &:nth-child(7),
					// &:nth-child(14) {
					// 	margin-right: 0;
					// }
					&:nth-child(8) {
						clear: both;
					}
				}

				li button {
					font-size: 0;
					line-height: 0;
					display: block;
					width: $baseline;
					height: $baseline;
					padding: 0;
					margin: 0;
					cursor: pointer;
					border: 0;
					outline: none;
					border-radius: 50%;
					background: $indigo;

					// @include breakpoint($tablet-portrait) {
					// 	width: $baseline * 0.75;
					// 	height: $baseline * 0.75;
					// }
				}

				li button:hover,
				li button:focus {
					outline: none;
				}

				li.slick-active button {
					background: #fff;
				}
			}
		}

		.bg-pattern-1 {
			position: fixed;
			right: -10%;
			top: 0;
		}
	}

}



// .timeline-section {
// 	background-color: $lightblue;
// 	min-height: 350vh;
//
// 	.bg-pattern-1 {
// 		position: fixed;
// 		right: -10%;
// 		top: 0;
// 	}
//
// 	.timeline-arrow {
// 		position: fixed;
// 		top: 45%;
// 	}
// 	.timeline-arrow--prev {
// 		left: 12.5%;
// 	}
// 	.timeline-arrow--next {
// 		left: 19.5%;
// 	}
//
// 	.timeline-carousel {
// 		position: fixed;
// 		top: calc(28.75% + 36px);
// 		left: 37.5%;
// 		width: 37.5%;
// 	}
//
// 	.timeline-carousel__item {
// 		// background: red;
// 		h2 {
// 			font-size: 10rem;
// 			font-weight: inherit;
// 		}
// 		p {
// 			// position: absolute;
// 			// width: 50%;
// 			// top: 28.25%;
// 			// left: 33.334%;
// 			// display: block;
// 		}
// 	}
//
// 	// Dots
// 	.slick-dots {
// 	    position: absolute;
// 		top: 46%;
// 		left: -68.5%;
// 		width: 55%;
// 		padding: 0;
// 		margin: 0;
// 	    list-style: none;
// 	    text-align: left;
// 	}
// 	.slick-dots li {
// 	    position: relative;
// 	    display: inline-block;
// 	    margin: 1rem;
// 	    padding: 0;
// 	}
// 	.slick-dots li button {
// 	    font-size: 0;
// 	    line-height: 0;
// 	    display: block;
// 		width: 2.5rem;
// 		height: 2.5rem;
// 		padding: 0;
// 		margin: 0;
// 	    cursor: pointer;
// 	    border: 0;
// 	    outline: none;
// 	}
// 	.slick-dots li button:hover,
// 	.slick-dots li button:focus {
// 	    outline: none;
// 	}
// 	.slick-dots li button:hover:before,
// 	.slick-dots li button:focus:before {
// 		opacity: 1;
// 		background-color: white;
// 	}
// 	.slick-dots li button:before {
// 	    position: absolute;
// 	    top: 0;
// 	    left: 0;
// 	    width: 2.5rem;
// 	    height: 2.5rem;
// 		border-radius: 50%;
// 		background: $indigo;
// 	    content: '';
// 	}
// 	.slick-dots li.slick-active button:before {
// 	    background: white;
// 	}
// }








//
// /* Timeline Carousel
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// .timeline-carousel {
// 	margin: 3rem -.5rem 0;
// 	.slick-arrow {
// 		top: -2.5rem;
// 		width: 2.5rem;
// 	}
// 	.slick-prev {
// 		left: .5rem;
// 	}
// 	.slick-next {
// 		left: 3.5rem;
// 	}
// }
// .timeline__item {
// 	height: 100%;
// 	width: 100%;
// 	margin: 0 .5rem;
// 	&:focus {
// 		border: none;
// 		outline: none;
// 	}
// 	h2 {
// 		font-size: 2rem;
// 		margin: 0;
// 		z-index: 99;
// 	}
// 	p {
// 		color: white;
// 		margin-bottom: 0;
// 	}
// }
// @include media-query(768px) {
// 	.timeline-carousel {
// 		margin-top: 0;
// 		.slick-arrow {
// 			top: .5rem;
// 			width: 2rem;
// 		}
// 		.slick-next {
// 			right: .5rem;
// 			left: auto;
// 		}
// 		.slick-prev {
// 			right: 3rem;
// 			left: auto;
// 		}
// 	}
// }
// @include media-query(1024px) {
// 	.timeline-carousel {
// 		margin-top: 0;
// 		.slick-arrow {
// 			top: .65rem;
// 			width: 1.5rem;
// 		}
// 		.slick-next {
// 			right: .5rem;
// 			left: auto;
// 		}
// 		.slick-prev {
// 			right: 2.5rem;
// 			left: auto;
// 		}
// 		// Dots
// 		.slick-dots {
// 		    position: absolute;
// 			top: .55rem;
// 			right: 5rem;
// 			line-height: .15rem;
// 			padding: 0;
// 			margin: 0;
// 		    list-style: none;
// 		    text-align: right;
// 			width: 3rem;
// 		}
// 		.slick-dots li {
// 		    position: relative;
// 		    display: inline-block;
// 		    margin: 0 .125rem;
// 		    padding: 0;
// 		}
// 		.slick-dots li button {
// 		    font-size: 0;
// 		    line-height: 0;
// 		    display: block;
// 			width: 0.25rem;
// 			height: 0.25rem;
// 			padding: 0;
// 			margin: 0;
// 		    cursor: pointer;
// 		    border: 0;
// 		    outline: none;
// 		}
// 		.slick-dots li button:hover,
// 		.slick-dots li button:focus {
// 		    outline: none;
// 		}
// 		.slick-dots li button:hover:before,
// 		.slick-dots li button:focus:before {
// 			opacity: 1;
// 			background-color: white;
// 		}
// 		.slick-dots li button:before {
// 		    position: absolute;
// 		    top: 0;
// 		    left: 0;
// 		    width: 0.25rem;
// 		    height: 0.25rem;
// 			border-radius: 50%;
// 			background: $indigo;
// 		    content: '';
// 		}
// 		.slick-dots li.slick-active button:before {
// 		    background: white;
// 		}
// 	}
// }
// @include media-query(1280px) {
// 	.timeline-carousel {
// 		.slick-arrow {
// 			top: 18px;
// 			width: 66px;
// 		}
// 		.slick-next {
// 			right: .5rem;
// 			left: auto;
// 		}
// 		.slick-prev {
// 			right: 2.25rem;
// 			left: auto;
// 		}
// 		.timeline__item {
// 			h2 {
// 				font-size: 1.5rem;
// 			}
// 		}
// 		.slick-dots {
// 			top: 9px;
// 			right: 4.25rem;
// 		}
// 	}
// }
// @include media-query(1440px) {
// 	.timeline-carousel {
// 		.slick-arrow {
// 			top: 24px;
// 		}
// 		.slick-dots {
// 			width: auto;
// 			top: .5rem;
// 			right: 4rem;
// 		}
// 	}
// }
// @include media-query(1600px) {
// 	.timeline-carousel {
// 		.slick-arrow {
// 			top: 30px;
// 		}
// 		.slick-prev {
// 			right: 2rem;
// 		}
// 		.slick-dots {
// 			right: 3.75rem;
// 			top: .5rem;
// 		}
// 	}
// }
// @include media-query(2000px) {
// 	.timeline-carousel {
// 		.slick-arrow {
// 			top: 42px;
// 		}
// 	}
// }
