
// Vision Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.vision-section {
	background-color: $lightturquoise;

	.p1,
	.p2,
	.p3 {
		@include span(4 of 4);
	}

	@include breakpoint(max-width $tablet-landscape - 1) {
		// carousel
		.renderings-arrow {
			display: inline-block;
			margin-left: gutter($mobile-grid);
			// margin-top: $baseline;
			height: calc(#{$baseline} * 3 - 1px);
			font-size: 0;
			line-height: 0;
			cursor: pointer;

			svg {
				width: 1.5rem;
			}
		}

		.image-stack {
			width: 100%;
			margin-bottom: $baseline;
			// padding-top: $baseline * 2;

			.slick-list {
				width: 100%;
			}

			.image-stack__item {
				margin: 0;
				padding: 0 0.5925926%;
			}

			// Dots
			.slick-dots {
				position: absolute;
				top: $baseline * (-2);
				right: 5.5%;
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: left;
				font-size: 0;
				line-height: 0;

				@include breakpoint($tablet-portrait) {
					top: $baseline * (-2.2);
				}

				li {
					position: relative;
					float: left;
					margin: 0;
					margin-right: $baseline;
					margin-bottom: $baseline;
					padding: 0;
					font-size: 0;
					line-height: 0;

					&:nth-child(7),
					&:nth-child(14) {
						margin-right: 0;
					}
					&:nth-child(8) {
						clear: both;
					}
				}

				li button {
					font-size: 0;
					line-height: 0;
					display: block;
					width: $baseline * 0.5;
					height: $baseline * 0.5;
					padding: 0;
					margin: 0;
					cursor: pointer;
					border: 0;
					outline: none;
					border-radius: 50%;
					background: $indigo;

					@include breakpoint($tablet-portrait) {
						width: $baseline * 0.75;
						height: $baseline * 0.75;
					}
				}

				li button:hover,
				li button:focus {
					outline: none;
				}

				li.slick-active button {
					background: #fff;
				}
			}
		}

		// no carousel
		// .image-stack {
		// 	@include span(4 of 4 nest);
		// 	@include susy-clearfix;
		//
		// 	img {
		// 		display: block;
		// 		margin: $baseline 0;
		// 		@include span(4 of 4);
		// 		@include border;
		// 	}
		// }
	}

	.video { // js for this?
		position: relative;
		margin: $baseline 0;
		@include span(4 of 4);
		// @include border;
		height: 0;
		padding-bottom: ( span(4 of 4) * (9/16) );
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.bg-pattern-1 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 1215vh;

		@include with-layout(8) {
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: $baseline * 15;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 24%;
				}
			}

			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: $baseline * 20;

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 28%;
				}
			}

			.renderings-arrow {
				display: none;
			}

			.image-stack {
				figure {
					position: fixed;

					&:nth-child(1) {
						@include span(5 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 2);
						top: $baseline * 8;
						z-index: 7;
					}
					&:nth-child(2) {
						@include span(4 of 8);
						left: span(2 of 8 wide);
						top: $baseline * 4;
						z-index: 6;
					}
					&:nth-child(3) {
						@include span(4 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 8);
						top: $baseline * 10;
						z-index: 5;
					}
					&:nth-child(4) {
						@include span(4 of 8);
						left: span(2 of 8 wide);
						top: $baseline * 16;
						z-index: 4;
					}
					&:nth-child(5) {
						@include span(3 of 8);
						left: span(3 of 8 wide);
						top: $baseline * 8;
						z-index: 3;
					}
					&:nth-child(6) {
						@include span(5 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 4);
						top: $baseline * 22;
						z-index: 2;
					}
					&:nth-child(7) {
						@include span(6 of 8);
						left: span(1 of 8 wide);
						top: $baseline * 7;
						z-index: 1;
					}

					@include breakpoint("min-aspect-ratio" "3/2") {
						&:nth-child(1) {
							top: 8.8%;
						}
						&:nth-child(2) {
							top: 4.4%;
						}
						&:nth-child(3) {
							top: 10.1%;
						}
						&:nth-child(4) {
							top: 16.16%;
						}
						&:nth-child(5) {
							top: 8.8%;
						}
						&:nth-child(6) {
							top: 22.22%;
						}
						&:nth-child(7) {
							top: 7.7%;
						}
					}
				}
			}

			.video {
				position: fixed;
				@include span(5 of 8);
				left: span(2 of 8 wide);
				top: $baseline * 8;
				padding-bottom: ( span(5 of 8) * (9/16) );

				@include breakpoint("min-aspect-ratio" "3/2") {
					top: 7%;
				}
			}

			.embed-container iframe,
			.embed-container object,
			.embed-container embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.p3 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: 75.3%;
				top: $baseline * 39;

				@include breakpoint("min-aspect-ratio" "3/2") {

					@include breakpoint($tablet-landscape) {
						top: 70%;
					}
					@include breakpoint($desktop) {
						top: 75%;
					}
					@include breakpoint(2560px) {
						top: 80%;
					}
				}
			}
		}

		.bg-pattern-1 {
			position: fixed;
			left: -42%;
			top: 8%;
			width: 195vh;
			display: block;
		}
	}
}
