
// Vision Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.vision-section {
	background-color: $lightturquoise;

	.p1,
	.p2,
	.p3 {
		@include span(4 of 4);
	}

	@include breakpoint(max-width $tablet-landscape - 1) {
		// carousel
		.image-stack {
			width: 100%;
			padding-top: $baseline * 2;

			.slick-list {
				width: 100%;
			}

			.image-stack__item {
				margin: 0;
				padding: 0 0.5925926%;
			}
		}

		// no carousel
		// .image-stack {
		// 	@include span(4 of 4 nest);
		// 	@include susy-clearfix;
		//
		// 	img {
		// 		display: block;
		// 		margin: $baseline 0;
		// 		@include span(4 of 4);
		// 		@include border;
		// 	}
		// }
	}

	.video { // js for this?
		margin: $baseline 0;
		@include span(4 of 4);
		@include border;
		height: 0;
		padding-bottom: ( span(4 of 4) * (9/16) );
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.bg-pattern-1 {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		// TODO: calculate section height dynamically
		height: 1350vh;

		@include with-layout(8) {
			.p1 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: 30.6%;
				top: $baseline * 15;
			}

			.p2 {
				position: fixed;
				@include span(3 of 8);
				left: span(4 of 8 wide);
				top: 41.5%;
				top: $baseline * 20;
			}

			.image-stack {
				figure {
					position: fixed;

					&:nth-child(1) {
						@include span(5 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 2);
						top: $baseline * 8;
						z-index: 7;
					}
					&:nth-child(2) {
						@include span(4 of 8);
						left: span(2 of 8 wide);
						top: $baseline * 4;
						z-index: 6;
					}
					&:nth-child(3) {
						@include span(4 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 8);
						top: $baseline * 10;
						z-index: 5;
					}
					&:nth-child(4) {
						@include span(4 of 8);
						left: span(2 of 8 wide);
						top: $baseline * 16;
						z-index: 4;
					}
					&:nth-child(5) {
						@include span(3 of 8);
						left: span(3 of 8 wide);
						top: $baseline * 8;
						z-index: 3;
					}
					&:nth-child(6) {
						@include span(5 of 8);
						left: span(1 of 8 wide) + (span(1 of 8 wide) / 4);
						top: $baseline * 22;
						z-index: 2;
					}
					&:nth-child(7) {
						@include span(6 of 8);
						left: span(1 of 8 wide);
						top: $baseline * 7;
						z-index: 1;
					}
				}
			}

			.video {
				position: fixed;
				@include span(5 of 8);
				left: span(2 of 8 wide);
				// top: 18.2%;
				top: $baseline * 8;
				padding-bottom: ( span(5 of 8) * (9/16) );
			}

			.embed-container iframe,
			.embed-container object,
			.embed-container embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.p3 {
				position: fixed;
				@include span(3 of 8);
				left: span(1 of 8 wide);
				top: 75.3%;
				top: $baseline * 39;
			}
		}

		.bg-pattern-1 {
			position: fixed;
			left: -50%;
			top: 10%;
			width: 75%;
			display: block;
		}

		.bg-pattern-2 {
			position: fixed;
			left: 25%;
			top: 62.5%;
			width: 75%;
			height: 117%;
			display: block;
		}
	}

}
