
// Typography
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
html {
	font-family: $calibre;
	font-weight: 600;
	color: $indigo;
	box-sizing: border-box;

	// for fluid type
	@include ms-respond(font-size, 0, $fluid-rem);
	line-height: $baseline * 2;

	// for non-fluid type
	// font-size: 1.125em;
	// line-height: 0.6667rem * 2; // smaller baseline
	//
	// @include breakpoint($tablet-portrait) {
	// 	font-size: 1.5em;
	// 	line-height: $baseline * 2;
	// }

	* {
		box-sizing: inherit;
	}
}

body {
	background: $lightturquoise;

	// show baseline
	// background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
	// background-size: 1px $baseline;
}

// Fluid
p {
	font-size: ms(0);
	line-height: $baseline * 2;
	@include align-to-baseline( ms(0), $baseline * 2 );
	padding-bottom: $baseline;
}

h1 {
	font-size: ms(2);
	line-height: $baseline * 4;
	@include align-to-baseline( ms(2), $baseline * 4 );
	// padding-bottom: $baseline * 2;
}

h2 {
  font-size: ms(1);
  line-height: $baseline * 3;
  @include align-to-baseline( ms(1), $baseline * 3 );
  // padding: $baseline * 2 0 $baseline;
}

h3 {
  font-size: ms(0);
  line-height: $baseline * 2;
  @include align-to-baseline( ms(0), $baseline * 2 );
  // padding: $baseline * 2 0 $baseline;
}

h4 {
  font-size: ms(-1);
  line-height: $baseline * 2;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  @include align-to-baseline( ms(-1), $baseline * 2 );
  // padding: $baseline * 2 0 $baseline;
}


// Links
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
a {
	color: $indigo;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf:after {
  content: "";
  display: table;
  clear: both; }
