@font-face {
	font-family: 'CalibreSemibold';
	src: url('/assets/fonts/Calibre/Calibre-Semibold.otf') format('opentype');
	font-weight: 600;
}

$calibre:	"CalibreSemibold", "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
