
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.container {
	@include container($mobile-grid);

	@include breakpoint($tablet-landscape) {
		@include container($susy 75%);
	}
}


// Mixins
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@mixin border {
	box-sizing: border-box;
	border: solid 6px $indigo;

	@include breakpoint($tablet-portrait) {
		box-sizing: border-box;
		border: solid 12px $indigo;
	}
}


// Sections
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import "section";

@import "sections/hero";
@import	"sections/mission";
@import "sections/site";
@import "sections/vision";
@import "sections/timeline";
@import "sections/principles";
@import "sections/signup";
@import "sections/news";
@import "sections/team";


// Loader
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.loader {
	position: fixed;
	z-index: 9999999999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $lightturquoise;

	svg:last-child {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 20%;
		transform: translate(-50%, -50%);

		@include breakpoint($tablet-landscape) {
			width: 10%;
		}

		@include breakpoint($desktop-large) {
			width: 5%;
		}
	}
}


// Rails & Nav
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import	"left-rail";
@import	"right-rail";
@import	"nav";


// Footer
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.footer {
	position: relative;
	height: 100vh;
	@include container($mobile-grid);
}

.footer__hashtag {
	@include span(4 of 4);
	text-align: center;

	@include breakpoint(max-width $tablet-landscape - 1) {
		margin-top: 78vh;
	}
}

.footer__social-button {
	@include span(2 of 4);
	margin-top: $baseline * 1.5;
	cursor: pointer;

	svg {
		width: 1rem;
	}
}

.footer__social-button--instagram {
	text-align: right;

	.cls-3 {
		fill: #000056;
		transition: fill .2s;
	}

	&:hover {
		.cls-3 {
			fill: #fff;
		}
	}
}

.footer__social-button--facebook {
	text-align: left;

	.fb-icon-blue {
		fill: #000056;
		transition: fill .2s;
	}

	&:hover {
		.fb-icon-blue {
			fill: #fff;
		}
	}
}

@include breakpoint($tablet-landscape) {

	@include with-layout(8) {

		.footer {
			max-width: initial;
			width: 100%;
			position: relative;
			height: auto;
			min-height: 300vh;
			background-color: rgb(145, 230, 223);
		}

		.footer__hashtag {
			margin: 0;
			position: fixed;
			@include span(4 of 8);
			left: span(2 of 8 wide);
			top: 120%;
		}

		.footer__social-button {
			margin: 0;
			position: fixed;
			@include span(1 of 8);
			top: 120%;

			svg {
				width: 1rem;
			}
		}

		.footer.in {
			.footer__hashtag {
				top: 82%;
			}
			.footer__social-button {
				top: 88%;
			}
		}

		.footer__social-button--instagram {
			left: span(3 of 8 wide);
		}

		.footer__social-button--facebook {
			left: span(4 of 8 wide);
		}
	}

	.tank {
		position: fixed;
		width: 45.5%;
		top: 50%;

		&.left {
			left: 0;
			transform: translate(-50%, -50%);
		}

		&.right {
			right: 0;
			transform: translate(50%, -50%);
		}
	}
}
