// Base Styles
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
html {
	box-sizing: border-box;
	font-size: $rem;
	// font-size: 40px;

	* {
		box-sizing: inherit;
	}
}

body {
	@include body-font;
}

.container {
	@include container($mobile-grid);

	@include breakpoint(768px) {
		@include container(75%);
	}
}

@mixin border {
	box-sizing: border-box;
	border: solid 6px $indigo;

	@include breakpoint(768px) {
		box-sizing: border-box;
		border: solid 12px $indigo;
	}
}



// Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
section {
	position: relative;
	padding-top: 4%;
}

.section__title-xl {
	position: fixed;
	left: 12.5%;
	top: 14%;
	font-size: 24rem;
	font-weight: 600;
	font-family: $calibre;
	letter-spacing: -10px;
	color: #fff;

	display: none;
}

figure {
	@include span(full);

	img {
		width: 100%;
		@include border;
	}
}

figcaption {
	@include body-font;
	font-size: 1rem;
}


// section {
// 	position: relative;
// 	// padding: 3rem 0;
//
// }
//
// .section__title {
// 	position: fixed;
// 	left: 12.5%;
// 	top: 14%;
// 	font-size: 24rem;
// 	font-weight: 600;
// 	font-family: $calibre;
// 	letter-spacing: -10px;
// 	color: #fff;
// }
//
// figure {
// 	margin: 0 0 1.5rem;
// 	img {
// 		width: 100%;
// 		&.has-border {
// 			box-sizing: border-box;
// 			border: solid 12px $indigo;
// 		}
// 	}
// }
//
// figcaption {
// 	@include body-font;
// 	font-size: 2rem;
// }
//
// .has-border {
// 	box-sizing: border-box;
// 	border: solid 12px $indigo;
// }


// Sections
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import	"sections/title";
@import "sections/hero";
@import	"sections/mission";
// @import "sections/site";
// @import "sections/vision";
// @import "sections/timeline";
// @import "sections/principles";
// @import "sections/signup";
// @import "sections/news";
// @import "sections/team";


/* Rails & Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail {
	width: 12.5%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}
// @import	"rail-left";
// @import	"rail-right";
// @import	"nav";


// Footer
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.footer {
	position: relative;
	min-height: 300vh;
}
.footer__hashtag {
	@include body-font;
	position: fixed;
	top: 86%;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
}
.footer__social-button {
	position: fixed;
	width: 4rem;
	top: 92%;
}
.footer__social-button--instagram {
	left: 46%;
}
.footer__social-button--facebook {
	right: 46%;
}


// News Page
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
// @import "news";
