
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.container {
	@include container($mobile-grid);

	@include breakpoint($tablet-landscape) {
		@include container($susy 75%);
	}
}


// Mixins
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@mixin border {
	box-sizing: border-box;
	border: solid 6px $indigo;

	@include breakpoint($tablet-portrait) {
		box-sizing: border-box;
		border: solid 12px $indigo;
	}
}


// Sections
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import "section";

@import "sections/hero";
@import	"sections/mission";
@import "sections/site";
@import "sections/vision";
@import "sections/timeline";
@import "sections/principles";
@import "sections/signup";
@import "sections/news";
@import "sections/team";


/* Rails & Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// .rail {
// 	width: 12.5%;
// 	height: 100%;
// 	position: fixed;
// 	top: 0;
// 	z-index: 999;
// }
@import	"left-rail";
@import	"right-rail";
// @import	"nav";


// Footer
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.footer {
	position: relative;
	height: 100vh;
	@include container($mobile-grid);
}

.footer__hashtag {
	@include span(4 of 4);
	text-align: center;

	@include breakpoint(max-width $tablet-landscape - 1) {
		margin-top: 78vh;
	}
}

.footer__social-button {
	@include span(2 of 4);
	margin-top: $baseline * 1.5;

	svg {
		width: 1rem;
	}
}

.footer__social-button--instagram {
	text-align: right;
}

.footer__social-button--facebook {
	text-align: left;
}

@include breakpoint($tablet-landscape) {

	@include with-layout(8) {

		.footer {
			position: relative;
			height: auto;
			min-height: 300vh;
		}

		.footer__hashtag {
			margin: 0;
			position: fixed;
			@include span(4 of 8);
			left: span(2 of 8 wide);
			top: 82%;
		}

		.footer__social-button {
			margin: 0;
			position: fixed;
			@include span(1 of 8);
			top: 88%;

			svg {
				width: 1rem;
			}
		}

		.footer__social-button--instagram {
			left: span(3 of 8 wide);
		}

		.footer__social-button--facebook {
			left: span(4 of 8 wide);
		}
	}
}
