
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: $lightturquoise;
	z-index: -10;
	opacity: 0;
	overflow: scroll;
}

.close-menu-button {
	display: block;
	position: absolute;
	top: 3.5%;
	right: 9%;
	text-align: center;
	cursor: pointer;

	@include breakpoint($tablet-landscape) {
		@include with-layout(8) {
			@include span(1 of 8);
			@include push(7 of 8);
			top: $baseline * 2.5;
			right: auto;
		}
	}
}

.nav__list {
	@include container($mobile-grid);
	margin: $baseline * 6 auto $baseline;
	padding: 0;
	list-style: none;
	height: auto;
	text-align: center;

	@include breakpoint($tablet-landscape) {
		margin: 5% auto;
	}
}

.nav__item {
	display: block;
	@include span(2 of 4);
	height: 0;
	padding-bottom: calc(#{span(2 of 4)} - 12px);
	margin-bottom: gutter() * 2;
	border: solid 6px $indigo;
	border-radius: 50%;
	color: #fff;

	@include breakpoint($tablet-landscape) {
		@include with-layout(16 0.5) {
			@include span(3 of 16);
			padding-bottom: calc(#{span(3 of 16)} - 12px);
			margin-bottom: gutter(16) * 2;

			&:nth-child(4n+1) {
				margin-left: span(2 of 16 wide) + gutter(16);
			}
		}
	}

	.nav__item__inner {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-48%);
	}

	a {
		color: $indigo;

		span {
			display: none;

			@include breakpoint(540px) {
				display: inline;
			}
		}
	}
}
