
/* Left Rail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail--left { display: none; }
.join-sticker {
	// @extend .type--medium;
	line-height: .9;
}
@include media-query(1024px) {
	.rail--left {
		display: block;
		left: 0;
		// background: rgba(0,0,0,0.1);
		.arrow-down {
			position: absolute;
			width: 100px;
			bottom: 48px;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			color: $darkblue;
		}
		.arrow-down svg {
			width: 36px;
		}
		.join-sticker {
			// @extend .type--medium;
			position: absolute;
			width: 100px;
			top: 48px;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
			// font-weight: bold;
			// font-size: .833rem;
			// line-height: 1;
		}
		.join-sticker a {
			color: $darkblue;
			text-decoration: none;
		}
	}
}
@include media-query(1280px) {
	.rail--left {
		.arrow-down svg {
			width: 40px;
		}
		.join-sticker {
			// font-size: .75rem;
		}
	}
}
@include media-query(1440px) {
	.rail--left {
		.arrow-down svg {
			width: auto;
		}
	}
}
@include media-query(1600px) {
	.rail--left {
		.join-sticker {
			// @extend .type--medium;
		}
	}
}
@include media-query(2000px) {}
