
/* Right Rail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail--right {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include container($mobile-grid);
	z-index: 999;

	.nav-toggle {
		// @include span(4 of 4);
		position: fixed;
		width: 94%;
		text-align: right;
		margin-top: 3%;

		svg {
			width: 3rem;
		}
	}
}

@include breakpoint($tablet-landscape) {
	@include with-layout(8) {
		.rail--right {
			
		}
	}
}
