
/* Right Rail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail--right {
	@include container($mobile-grid);

	.nav-toggle {
		position: fixed;
		// width: 94%;
		right: 4.5%;
		text-align: right;
		margin-top: 5%;
		z-index: 999;
		transition: transform 0.3s ease-in-out;

		a {
			cursor: pointer;
		}

		svg {
			width: 3rem;
			// margin-right: 1.5%;
		}

		&.out {
			transform: translateY(-150%);
		}
	}

	.logo {
		display: none;
		position: fixed;
		right: 3vw;
		bottom: 3vw;
		width: 35%;
		z-index: 999;
		filter: none;
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-ms-filter: blur(0px);
		transition: transform 0.3s ease-in-out;

		svg {
			display: block;
		}

		&.out {
			transform: translateY(150%);
		}

		@include breakpoint($tablet-portrait) {
			width: 24%
		}

		@include breakpoint($tablet-landscape) {
			right: 2vw;
			bottom: 2vw;
			width: 20%
		}

		@include breakpoint($desktop) {
			width: 14%

		}
	}
}

@include breakpoint($tablet-landscape) {
	@include with-layout(8) {
		.rail--right {
			position: fixed;
			top: 0;
			right: 0;
			left: auto;
			bottom: 0;
			@include span(1 of 8);
			z-index: 999;
			// background: rgba(black, 0.1);

			.nav-toggle {
				position: absolute;
				top: $baseline * 1.5;
				width: 100%;
				text-align: center;

				svg {}
			}
		}
	}
}
