
// Section
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
section {
	position: relative;
	padding: $baseline * 2 0 $baseline * 4;

	// show baseline
	// background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
	// background-size: 1px $baseline;

	// show section separation
	// border-top: 5px solid red;

	@include breakpoint($tablet-landscape) {
		padding: 0;
	}

	

	.spinning-tank {
		width: 180px;
	}



	figure {
		margin: $baseline 0;
		@include span(4 of 4);

		@include breakpoint($tablet-landscape) {
			@include with-layout(8) {
				position: fixed;
				@include span(6 of 8);
				top: 10%;
				left: span(1 of 8 wide);
			}

			@include breakpoint((1200px) (max-height 800px)) {
				top: 7.5%;
			}
		}

		@include breakpoint($desktop-hd) {
			top: $baseline * 6;
		}

		img {
			width: 100%;
			display: block;
			// @include border; // removed by client request

			&:last-child {
				margin-bottom: 0;
			}
		}

		.img-frame {
			// @include border; // removed by client request
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 0;
			padding-bottom: 75vh;
		}

		figcaption {
			font-size: ms(-1);
			line-height: $baseline * 1.25;
			@include align-to-baseline( ms(-1), $baseline * 1.25 );
			padding-bottom: $baseline * 0.5;
		}

		@include breakpoint($tablet-landscape) {
			img,
			.img-frame {
				margin-bottom: $baseline * -0.5;
			}

			figcaption {
				font-size: ms(-1);
				line-height: $baseline * 2;
				@include align-to-baseline( ms(-1), $baseline * 2 );
			}
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

// section heading
// (fixed sidebar heading on larger screens)
.section__title {
	@include container($mobile-grid);
	line-height: 0;
	font-size: 0;
	padding-bottom: $baseline * 2;
	z-index: 999;

	h2 {
		margin-left: gutter(4);
		position: relative;
		display: inline-block;

		&:after {
			content: '';
			display: block;
			background: $darkblue;
			height: 4px;
			width: 100%;
			position: absolute;
			top: 1.2em;
		}
	}

	@include breakpoint($tablet-landscape) {
		text-align: center;
		padding: 0;
		margin: 0;
		position: absolute;
		width: 300px;
		height: 50px;
		transform-origin: top left;
		transform: rotate(-90deg) translate(-50%, -50%);
		top: 50vh;
		margin-left: calc(6.25% - 0.4rem);

		h2 {
			font-size: ms(0);
			margin: 0;

			&:after {
				top: 1.4em;
			}
		}
	}

	@include breakpoint($desktop) {
		width: 500px;
		transform: rotate(-90deg) translate(-50%, -50%);
		top: 25vh;
	}

	@include breakpoint($desktop-large) {
		h2 {
			&:after {
				height: 6px;
			}
		}
	}
}

// large white titles (on larger screens)
.section__title-xl {
	@include breakpoint(max-width $tablet-landscape - 1) {
		display: none;
	}

	@include breakpoint($tablet-landscape) {
		@include with-layout(8) {
			position: fixed;
			@include span(6 of 8);
			left: span(1 of 8 wide);

			font-size: ms(8);
			line-height: $baseline * 12;
			@include align-to-baseline( ms(8), $baseline * 12 );
			margin: 0;
			letter-spacing: -8px;
			color: #fff;

			// top: $baseline * 12;
			top: $baseline * 7;

			@include breakpoint("min-aspect-ratio" "3/2") {
				top: 8%;
			}
		}
	}
}

section.test-before {
	height: 100vh;
}

section.test-after {
	height: 200vh;
}
