@charset "utf-8";


// Import Libs
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import				"normalize-css",
					"modularscale-sass",
					"responsive-baseline",
					"susy",
					"breakpoint-sass",
					"npm:slick-carousel/slick/slick.scss";

					// TODO: fix weird npm import


// Breakpoints
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
$phone				:	375px;
$phone-large		:	580px;
$tablet-portrait	:	768px;
$tablet-landscape	:	1024px;
$desktop			:	1280px;
$desktop-large		:	1600px;
$hd					:	1920px;


// Colors
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
$yellow				:	rgb(224, 245, 0);
$lightyellow		:	rgb(242, 237, 130);

$green				:	rgb(0, 255, 146);
$lightgreen			:	rgb(152, 240, 200);

$turquoise			:	rgb(0, 222, 209);
$lightturquoise		:	rgb(145, 230, 223);

$blue				:	rgb(64, 0, 255);
$lightblue			:	rgb(165, 204, 246);

$purple				:	rgb(111, 46, 255);
$lightpurple		:	rgb(200, 176, 255);

$pink				:	rgb(255, 0, 97);
$lightpink			:	rgb(255, 148, 189);

$red				:	rgb(255, 21, 30);
$lightred			:	rgb(255, 125, 129);

$orange				:	rgb(255, 84, 0);
$lightorange		:	rgb(255, 128, 83);

$indigo				:	rgb(0,0,86);
$darkblue			:	$indigo;

$gray				:	rgb(87, 85, 86);
$lightgray			:	lighten($gray, 50%);

$text-color			:	$indigo;
$link-color			:	$indigo;


// Typography
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
$calibre			:	"CalibreSemibold", "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$baseline			:   0.6rem;
// $baseline			:   0.592592592rem;
$base-line-height	:   $baseline * 2;

// Type Scale
$modularscale: (
	base			:	1rem,
	ratio			:	$fourth,
);

// Fluid `rem`
$fluid-rem: (
	$phone: (
		base		:	27px,
		ratio		:	$fourth,
	),
	$tablet-portrait: (
		base		:	40px,
		ratio		:	$fourth,
	),
);


// Grid
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
$susy: (
	columns			:	12,
	gutters			:	0.25,
	gutter-position	:	split,
	global-box-sizing:	border-box,
	debug: (
		image		:	show,
		color		:	turquoise,
		output		:	overlay,
		toggle		:	bottom right,
	),
);

$mobile-grid: (
	container		:	94%,
	columns			:	4,
	gutters			:	0.25,
	gutter-position	: 	split,
	global-box-sizing:	border-box,
	debug: (
		image		:	show-columns,
		color		:	turquoise,
		output		:	overlay,
		toggle		:	bottom right,
	),
);


// Import Partials
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@import 				"fonts",
						"base",
        				"layout";
