
<!-- Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="hero-section current" id="hero" rgba="(0, 0, 0, 0)">
	<!-- data-bg-color="rgb(145, 230, 223)" -->

	<div class="hero-bg">
		<img src="assets/images/patterns/patterns_1_20170512.svg" />
	</div>

	<<div class="hero-logo">
		{% include icons/mp-logo.svg %}
	</div>

	{% comment %}
	<!-- NEW -->
	<!-- <div class="tank left">
		{% include spinning-tanks/tank-2.svg %}
	</div>
	<div class="hero-logo">
		{% include icons/mp-logo.svg %}
	</div>
	<div class="tank right">
		{% include spinning-tanks/tank-3.svg %}
	</div> -->
	{% endcomment %}

	<!-- <div class="tagline">
		<p>As creative as the neighborhood around it.</p>
	</div> -->

</section>
