
<!-- Mission -->
<section class="mission-section" id="mission" data-bg-color="rgb(242, 237, 130)">
	<div class="sidebar-title title top">
		<h2 class="underline">01. &mdash; Mission</h2>
	</div>
	<div class="container">
		<div class="bg-pattern-1">
			<img src="assets/images/patterns/intro_bg_pattern.svg" />
		</div>
		<div class="bg-pattern-2">
			<img src="assets/images/patterns/intro_bg_pattern_2.svg" />
		</div>
		<div class="row">
			<h2 class="section__title col-6">Mission</h2>
			<div class="col-3 p1">
				<p>Maker Park is a vision for an adaptive reuse park along the
				Williamsburg waterfront that captures the creative ethos of the
				neighborhood around it—and reflects its rich history by breathing
				new life into the site’s industrial fabric.</p>
			</div>
			<div class="col-3 p2">
				<p>The idea springs from an awareness that both our waterfront
				heritage and the local creative community is being wiped away at
				alarming speed. Maker Park is poised to achieve the acute
				community need for green open space while also serving as a
				dynamic, interactive, and educational public park that speaks to
				Brooklyn’s past, present, and future.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<figure class="rendering">
					<img class="has-border" src="assets/images/renderings/rendering-01.jpg">
					<figcaption>Rendering by Studio V</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
