
<!-- Mission Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="mission-section" id="mission" data-bg-color="rgb(242, 237, 130)">

	<div class="section__title">
		<h2 class="underline">01. &mdash; Mission</h2>
	</div>

	<div class="container">

		<img class="bg-pattern-1" src="assets/images/patterns/intro_bg_pattern.svg" />
		<img class="bg-pattern-2" src="assets/images/patterns/intro_bg_pattern_mirrored.svg" />

		<h2 class="section__title-xl">Mission</h2>

		<p class="p1">Maker Park is a vision for an adaptive reuse park along* the
		Williamsburg waterfront that captures the creative ethos of the
		neighborhood around it—and reflects its rich history by breathing
		new life into the site’s industrial fabric.</p>

		<p class="p2">The idea springs from an awareness that both our waterfront
		heritage and the local creative community is being wiped away at
		alarming speed. Maker Park is poised to achieve the acute
		community need for green open space while also serving as a
		dynamic, interactive, and educational public park that speaks to
		Brooklyn’s past, present, and future.</p>

		<figure class="rendering">
			<img src="assets/images/renderings/rendering-01.jpg">
			<figcaption>Rendering by Studio V</figcaption>
		</figure>

	</div>

</section>
