
<!-- News Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="news-section" id="news" data-bg-color="rgb(255, 125, 129)">

	<div class="section__title">
		<h2 class="underline">07. &mdash; News</h2>
	</div>

	<div class="container">

		<h2 class="section__title-xl">News</h2>

		<ul class="news-list">

			{% for post in site.posts | limit: 8 %}
				<li class="news-block">

					<a href="{{ post.url | prepend: site.baseurl }}">
						<div class="news-block__inner">
							<h3 class="news-block__title">{{ post.short_title }}</h3>
							{% if post.source %}
								<p class="news-block__source">{{ post.source }}</p>
							{% else %}
								<time class="news-block__timestamp">{{ post.date | date: "%b %-d, %Y" }}</time>
							{% endif %}
						</div>
					</a>

				</li>
			{% endfor %}

			<li class="news-block news-block--see-all">
				<a href="{{ "/news" | prepend: site.baseurl }}">
					<div class="news-block__inner">
						<h3 class="news-block__title">See more news</h3>
					</div>
				</a>
			</li>

		</ul>

	</div>

</section>
