
<!-- Principles Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="principles-section" id="principles" data-bg-color="rgb(200, 176, 255)">

	<div class="section__title">
		<h2 class="underline">05. &mdash; Ten principles</h2>
	</div>

	<div class="container">

		<img class="bg-pattern-1" src="assets/images/patterns/principles_bg_pattern.svg" />

		<img class="bg-pattern-2" src="assets/images/patterns/principles_bg_pattern.svg" />

		<h2 class="section__title-xl">Ten principles</h2>

		<ol class="principles__list">
			<li class="principles__item">
				<h3><span>01</span><br>Support the whole park</h3>
				<p>Complete the entire Bushwick Inlet Park</p>
			</li>
			<li class="principles__item">
				<h3><span>02</span><br>Incorporate community input</h3>
				<p>Integrate 2007 community requests: open space, playing fields, wetlands, performance, dog run, boat house</p>
			</li>
			<li class="principles__item">
				<h3><span>03</span><br>Preserve Brooklyn’s waterfront</h3>
				<p>Celebrate Brooklyn’s ecological &amp; industrial heritage</p>
			</li>
			<li class="principles__item">
				<h3><span>04</span><br>Provide community amenities</h3>
				<p>Support community maker space, culture, arts, creative industry</p>
			</li>
			<li class="principles__item">
				<h3><span>05</span><br>Open the park</h3>
				<p>Utilize NYC Park’s new open design standards</p>
			</li>
			<li class="principles__item">
				<h3><span>06</span><br>Maximize green space</h3>
				<p>Provide same green space as 2007 proposal, with more diverse uses</p>
			</li>
			<li class="principles__item">
				<h3><span>07</span><br>Propose real solutions</h3>
				<p>Address environmental, ecological, social, &amp; economic needs</p>
			</li>
			<li class="principles__item">
				<h3><span>08</span><br>Maintain an open process</h3>
				<p>Include the public, community groups, &amp; government agencies</p>
			</li>
			<li class="principles__item">
				<h3><span>09</span><br>Clean up the site</h3>
				<p>Employ the safest, most cost effective, least intrusive remediation strategy</p>
			</li>
			<li class="principles__item">
				<h3><span>10</span><br>Create a sustainable park</h3>
				<p>Create a sustainable economic model for community programming</p>
			</li>
		</ol>

	</div>

</section>
