
<!-- Site Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="site-section" id="site" data-bg-color="rgb(152, 240, 200)">

	<div class="section__title">
		<h2 class="underline">02. &mdash; The site</h2>
	</div>

	<div class="container">

		<img class="bg-pattern-1" src="assets/images/patterns/site_bg_pattern.svg" />
		<img class="bg-pattern-2" src="assets/images/patterns/site_bg_pattern.svg" />

		<h2 class="section__title-xl">The<br>&ensp;&nbsp;site</h2>

		<p class="p1">The site for Maker Park is a seven-acre waterfront
			parcel that served as the historical home of one of Brooklyn’s most
			important industrial enterprises: Astral Oil Works,
			founded by businessman and philanthropist Charles
			Pratt.
		</p>

		<figure class="image-00">
			<img src="assets/images/historic/astral-oilworks.jpg">
			<figcaption>Astral Oil Works</figcaption>
		</figure>

		<p class="p2">After decades of industrial decline, the site&mdash;which came
			to be known as the Bayside Fuel Terminal&mdash;became a hub
			for hundreds of artists, makers, and entrepreneurs,
			sitting at the very heart of Williamsburg’s thriving
			creative scene.
		</p>

		<figure class="image-01"><img src="assets/images/site-gallery/01.jpg"></figure>
		<figure class="image-03"><img src="assets/images/site-gallery/02.jpg"></figure>

		<p class="p3">Besides its cultural and historical
			significance, the Bayside lot is overflowing with
			architectural character, including a three-story brick
			building with soaring ceilings and factory windows, and
			a series of 50-foot tall cylindrical, decommissioned
			fuel containers that rise from the ground to create a
			beautiful and other-worldly industrial topography.
		</p>

		<figure class="image-02"><img src="assets/images/site-gallery/03.jpg"></figure>
		<figure class="image-04"><img src="assets/images/site-gallery/04.jpg"></figure>
		<figure class="image-05"><img src="assets/images/site-gallery/13.jpg"></figure>

		<figure class="map">
			<div class="img-frame" id="map"></div>
		</figure>

	</div>

</section>
