<!-- Site -->
<section class="site-section" id="site" data-bg-color="rgb(152, 240, 200)">
	<div class="title top">
		<h2 class="underline">02. &mdash; The site</h2>
	</div>
	<div class="container">
		<div class="bg-pattern-1">
			<img src="assets/images/patterns/site_bg_pattern.svg" />
		</div>
		<div class="bg-pattern-2">
			<img src="assets/images/patterns/site_bg_pattern.svg" />
		</div>
		<div class="row">
			<h2 class="section__title col-6"><span>The</span> <span>&ensp;&nbsp;site</span></h2>
			<div class="col-3 p1">
				<p>The site for Maker Park is a seven-acre waterfront
					parcel that served as the historical home of one of Brooklyn’s most
					important industrial enterprises: Astral Oil Works,
					founded by businessman and philanthropist Charles
					Pratt.
				</p>
			</div>
			<div class="col-3 p2">
				<p>After decades of industrial decline, the site&mdash;which came
					to be known as the Bayside Fuel Terminal&mdash;became a hub
					for hundreds of artists, makers, and entrepreneurs,
					sitting at the very heart of Williamsburg’s thriving
					creative scene.
				</p>
			</div>
			<div class="col-3 p3">
				<p>Besides its cultural and historical
					significance, the Bayside lot is overflowing with
					architectural character, including a three-story brick
					building with soaring ceilings and factory windows, and
					a series of 50-foot tall cylindrical, decommissioned
					fuel containers that rise from the ground to create a
					beautiful and other-worldly industrial topography.
				</p>
			</div>
		</div>
		<div class="row">
			<img class="has-border image-00" src="assets/images/historic/oilworks-duotone.png">
			<img class="has-border image-01" src="assets/images/site-gallery/01.jpg">
			<img class="has-border image-03" src="assets/images/site-gallery/02.jpg">
			<img class="has-border image-02" src="assets/images/site-gallery/03.jpg">
			<img class="has-border image-04" src="assets/images/site-gallery/04.jpg">
			<img class="has-border image-05" src="assets/images/site-gallery/13.jpg">
		</div>
		<div class="row">
			<div class="map col-6 has-border" id="map"></div>
		</div>
	</div>
</section>
