
<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="team-section unloaded" id="team" data-bg-color="rgb(255, 128, 83)">

	<div class="section__title">
		<h2 class="underline">08. &mdash; Team</h2>
	</div>

	<div class="container">

		<img class="bg-pattern-1" src="assets/images/patterns/team_bg_pattern_triangle_4.svg" />

		<h2 class="section__title-xl">Team</h2>

		<!-- Founding Team -->
		<figure class="team-photo">
			<img src="assets/images/team/team.jpg">
			<figcaption>The Maker Park team: Zachary Waldman, Karen Zabarsky, and Stacey Anderson</figcaption>
		</figure>

		<!-- <p class="p1">The Maker Park Team: Zachary Waldman, Karen Zabarsky, and Stacey Anderson</p> -->

		<!-- Expert Team -->
		<ul class="expert-team-list">

			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/tt.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/ksworkshop.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/studiov.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/manatt.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/vhb.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/arup.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/tillotson.svg">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/spr.png">
			</li>
			<li class="expert-team-block">
				<img class="expert-team-block__image" src="assets/images/expert-team-logos/svg/pentagram.svg">
			</li>
		</ul>

	</div>

</section>
