<!-- Timeline -->
<section class="timeline-section" id="timeline" data-bg-color="rgb(165, 204, 246)">
	<div class="title top">
		<h2 class="underline">04. &mdash; Timeline</h2>
	</div>
	<!-- slick timeline carousel -->
	<div class="container">
		<div class="bg-pattern-1">
			<img src="assets/images/patterns/timeline_bg_pattern_2.svg" />
		</div>
		<div class="row">
			<h2 class="section__title col-6">Timeline</h2>

			<a class="timeline-arrow timeline-arrow--prev">{% include icons/arrow-left-large.svg %}</a>
			<a class="timeline-arrow timeline-arrow--next">{% include icons/arrow-right-large.svg %}</a>

			<div class="timeline-carousel">
				<div class="timeline-carousel__item" data-date="1867">
					<h2>1867</h2>
					<p>At the height of Brooklyn’s Industrial Revolution,
						American businessman and petroleum pioneer, Charles
						Pratt, founds Astral Oil Works on the site of the
						proposed Maker Park, now known as the Bayside Fuel
						Terminal.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="1870&ndash;1874">
					<h2>1870&ndash;1874</h2>
					<p>The success of Astral puts Pratt in rival with John
						D. Rockefeller’s Standard Oil, which eventually absorbs
						the company. Pratt uses his newfound fortune to found
						and endow Pratt Institute, a vocational school that
						seeks to train the emerging industrial workforce.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="1900s">
					<h2>1900s</h2>
					<p>Brooklyn continues to be the epicenter of industrial
						expansion, until the second half of the century, which
						is marked by decades of decline. While the refinery
						remains active, much of the waterfront sits derelict
						and in decay.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="1990&ndash;2000s">
					<h2>1990&ndash;2000s</h2>
					<p>Amid dilapidated structures and overgrown pavement,
						a group of locals reclaim the waterfront as a haven for
						recreation and self-expression, transforming it into a
						unique civic space for the neighborhood.  The building
						on the Bayside Fuel Terminal comes to house a creative
						community of artists and entrepreneurs.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="2005">
					<h2>2005</h2>
					<p>Mayor Bloomberg sees incredible potential to
						capitalize on this underutilized stretch of land and
						puts forth a Waterfront Rezoning Agreement. In exchange
						for allowing new residential development along the
						water, his administration promises the community a
						28-acre park from North 6th to the Bushwick Inlet,
						called Bushwick Inlet Park.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="2007">
					<h2>2007</h2>
					<p>Post-rezoning, the neighborhood sees a surge of new
						residential development. The National Trust for Historic
						Preservation sounds the alarm and declares Brooklyn’s
						industrial waterfront one of America’s 11 most
						endangered historic places.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="2011">
					<h2>2011</h2>
					<p>Piecemeal acquisition of waterfront property results
						in the first completed phase of Bushwick Inlet Park, a
						multipurpose athletic field stretching between N 9th
						and N 10th. Much of the promised park however remains
						derelict, while property values continue to rise in the
						face of Williamsburg's newfound popularity.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="October 2014">
					<h2>October 2014</h2>
					<p>The City moves to complete the purchase of the
						Bayside Fuel Terminal, a parcel of the promised park
						which results in eviction notices to tenants on site.
						Zac Waldman, an occupant of the building for nearly a
						decade, while attempting to preserve the creative
						community existing in the building, starts to explore
						the site and tanks and begins to envision an alternate
						concept for the eventual park.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="January 2015">
					<h2>January 2015</h2>
					<p>An 11 acre site owned by businessman Norm Brodsky is
						the last puzzle piece needed to complete park. A massive
						6-alarm fire breaks out in a warehouse on the site,
						re-igniting heated debate around the City's unfulfilled
						promise. With local park advocates like Friends of
						Bushwick Inlet Park leading the charge, the community
						urges follow-through on a Community Benefit agreement
						made a decade prior.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="April 2015">
					<h2>April 2015</h2>
					<p>At an eviction party for the building Zac is
						introduced to Stacey Anderson, a director at MAS, who
						after touring the site truly understands the potential
						and agrees to help with the nascent project. Two weeks
						later while co-leading a tour of the neighborhood in
						commemoration of Jane Jacobs, Stacey introduces Zac to
						fellow urbanist Karen Zabarsky and the Maker Park
						founding team is complete.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="Summer 2015">
					<h2>Summer 2015</h2>
					<p>The group begins uncovering the site’s history—and
						its incredible connection to Pratt Institute—researching
						its environmental status, reaching out to local
						stakeholders, and seeking council from experts.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="Fall 2015">
					<h2>Fall 2015</h2>
					<p>Seeing great potential in the vision, a dream team of
						professionals sign on to lend their expertise pro-bono
						to the project, spearheaded by Studio V Architecture.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="Summer 2016">
					<h2>Summer 2016</h2>
					<p>Alongside this outreach, the team investigates the
						feasibility of remediating the sites with structures in
						place, given its complicated environmental status as a
						former refinery.
					</p>
				</div>
				<div class="timeline-carousel__item" data-date="Fall 2016">
					<h2>Fall 2016</h2>
					<p>After months of tense negotiations, the City finally
						reaches a $160 million deal to purchase the final parcel
						of waterfront property, an outstanding victory for the community. With the
						contiguous 28 acre stretch of land now in the City’s
						possession, our team seeks to examine the site as it
						currently exists and ask what would make for a truly
						21st century park, uniquely of and for Brooklyn?
					</p>

					<!-- needed to create Bushwick Inlet Park -->
				</div>
			</div>
		</div>
	</div>
</section>
