
<!-- Vision Section
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="vision-section" id="vision" data-bg-color="rgb(145, 230, 223)">

	<div class="section__title">
		<h2 class="underline">03. &mdash; Vision</h2>
	</div>

	<div class="container">

		<img class="bg-pattern-1" src="assets/images/patterns/vision_bg_pattern_2.svg" />

		<h2 class="section__title-xl">Vision</h2>

		<p class="p1">Rather than demolishing these structures, Maker Park
			recognizes the potential to re-imagine them as a
			habitable eco-system, satisfying the need for green
			space while also creating a new kind of commons uniquely of
			and for Williamsburg. These fossils of Brooklyn’s
			bygone industrial era could be integrated into the
			landscape of the park, serving as an important reminder
			of the waterfront’s complex and layered history.
		</p>

		<p class="p2">Activated for contemporary uses, the tanks could turn
			into viewing platforms, performances spaces, rotating
			sound and art exhibitions, and greenhouses.  The
			building could be adaptively reused for community uses,
			as well as a community-accessible maker space that
			helps to expand the definition of recreation beyond
			traditional uses, while also reflecting the current
			culture of collaboration and making so central to
			Williamsburg's character. The possibilities are
			virtually endless, but only if we embrace the rich
			industrial legacy that’s been left to us.
		</p>

	</div>

	<div class="renderings image-stack">
		<figure class="image-stack__item"><img src="assets/images/renderings/01.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/02.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/03.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/04.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/05.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/06.jpg"></figure>
		<figure class="image-stack__item"><img src="assets/images/renderings/07.jpg"></figure>
	</div>

	<div class="container">

		<p class="p3">The vision for Maker Park debuted during a presentation
			by Stacey Anderson at the annual MAS summit in 2015.
		</p>

		<div
			class="video embed-container"
			data-video-iframe="<iframe src='https://www.youtube.com/embed/HJFXNadDCws?autoplay=1' frameborder='0' allowfullscreen></iframe>"
			style="
				background: black url('/assets/images/video-thumbnail-small.jpg') no-repeat center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				overflow:hidden; cursor:pointer;">
		</div>

	</div>

</section>
