
<section class="about-timeline-section" id="timeline">
	<div class="title top">
		<h2 class="underline">Timeline</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-1">
				<p style="font-size: 5rem; color: white; border-bottom: 14px solid white; display: block; float: left;">1867</p>
			</div>
			<div class="col-5">
				<div>
					<p>At the height of Brooklyn’s Industrial Revolution,
						American businessman and petroleum pioneer, Charles
						Pratt, founds Astral Oil Works on the site of the
						proposed Maker Park, now known as the Bayside Fuel
						Terminal
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1">
				<p style="font-size: 5rem; color: white; border-bottom: 14px solid white; display: block; float: left;">1870&ndash;1874</p>
			</div>
			<div class="col-5">
				<div>
					<p>The success of Astral puts Pratt in rival with John
						D. Rockefeller’s Standard Oil, which eventually absorbs
						the company. Pratt uses his newfound fortune to found
						and endow Pratt Institute, a vocational school that
						seeks to train the emerging industrial workforce.
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1">
				<p>1900s</p>
			</div>
			<div class="col-5">
				<div>
					<p>Brooklyn continues to be the epicenter of industrial
						expansion, until the second half of the century, which
						is marked by decades of decline. While the refinery
						remains active, much of the waterfront sits derelict
						and in decay.
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1">
				<p>1990-2000s</p>
			</div>
			<div class="col-5">
				<div>
					<p>Amid dilapidated structures and overgrown pavement,
						a group of locals reclaim the waterfront as a haven for
						recreation and self-expression, transforming it into a
						unique civic space for the neighborhood.  The building
						on the Bayside Fuel Terminal comes to house a creative
						community of artists and entrepreneurs.
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1">
				<p>2005</p>
			</div>
			<div class="col-5">
				<div>
					<p>Mayor Bloomberg sees incredible potential to
						capitalize on this underutilized stretch of land and
						puts forth a Waterfront Rezoning Agreement. In exchange
						for allowing new residential development along the
						water, his administration promises the community a
						28-acre park from North 6th to the Bushwick Inlet,
						called Bushwick Inlet Park.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
