<footer class="footer unloaded" id="footer">
	<!-- data-bg-color="rgb(255, 84, 0)" -->
	<h2 class="footer__hashtag">#MakerPark</h2>
	<a class="footer__social-button footer__social-button--instagram" href="https://www.instagram.com/makerpark/" target="_blank">
		{% include icons/instagram-icon-darkblue.svg %}
	</a>
	<a class="footer__social-button footer__social-button--facebook" href="https://www.facebook.com/MakerParkBrooklyn/?fref=ts" target="_blank">
		{% include icons/facebook-icon-darkblue.svg %}
	</a>
</footer>
