<footer class="footer unloaded" id="footer" data-bg-color="rgb(145, 230, 223)">
	<!-- data-bg-color="rgb(255, 84, 0)" -->
	<div class="tank left">
		{% include spinning-tanks/tank-2.svg %}
	</div>
	<div class="tank right">
		{% include spinning-tanks/tank-3.svg %}
	</div>
	<h2 class="footer__hashtag">#TheTanksBK</h2>
	<a class="footer__social-button footer__social-button--instagram" href="https://www.instagram.com/thetanksbk/" target="_blank">
		{% include icons/instagram-icon-darkblue.svg %}
	</a>
	<a class="footer__social-button footer__social-button--facebook" href="https://www.facebook.com/TheTanksBK/" target="_blank">
		{% include icons/facebook-icon-darkblue.svg %}
	</a>
</footer>
