<nav class="nav hidden">
	<a class="close-menu-button nav-close">{% include icons/close-button.svg %}</a>
	<ul class="nav__list ">
		<li class="nav__item">
			<a href="{{ "/#mission" | prepend: site.baseurl }}" data-scrollto="#mission">
				<div class="nav__item__inner">
					<p>
						01.<br>
						<span>Mission</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#about" | prepend: site.baseurl }}" data-scrollto="#site">
				<div class="nav__item__inner">
					<p>
						02.<br>
						<span>The site</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#vision" | prepend: site.baseurl }}" data-scrollto="#vision">
				<div class="nav__item__inner">
					<p>
						03.<br>
						<span>Vision</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#timeline" | prepend: site.baseurl }}" data-scrollto="#timeline">
				<div class="nav__item__inner">
					<p>
						04.<br>
						<span>Timeline</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#principles" | prepend: site.baseurl }}" data-scrollto="#principles">
				<div class="nav__item__inner">
					<p>
						05.<br>
						<span><span>Ten </span>Principles</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#signup" | prepend: site.baseurl }}" data-scrollto="#signup">
				<div class="nav__item__inner">
					<p>
						06.<br>
						<span>Sign up</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#news" | prepend: site.baseurl }}" data-scrollto="#news">
				<div class="nav__item__inner">
					<p>
						07.<br>
						<span>News</span>
					</p>
				</div>
			</a>
		</li>
		<li class="nav__item">
			<a href="{{ "/#team" | prepend: site.baseurl }}" data-scrollto="#team">
				<div class="nav__item__inner">
					<p>
						08.<br>
						<span>Team</span>
					</p>
				</div>
			</a>
		</li>
	</ul>
</nav>
