<nav class="nav hidden">
	<a class="close-menu-button">{% include icons/close-button.svg %}</a>
	<ul class="nav__list ">
		<li class="nav__item">
			<div class="nav__item__inner">
				01.<br>
				<a href="{{ "/#mission" | prepend: site.baseurl }}" data-scrollto="#mission">Mission</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				02.<br>
				<a href="{{ "/#about" | prepend: site.baseurl }}" data-scrollto="#site">The site</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				03.<br>
				<a href="{{ "/#vision" | prepend: site.baseurl }}" data-scrollto="#vision">Vision</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				04.<br>
				<a href="{{ "/#timeline" | prepend: site.baseurl }}" data-scrollto="#timeline">Timeline</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				05.<br>
				<a href="{{ "/#principles" | prepend: site.baseurl }}" data-scrollto="#principles">Ten principles</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				06.<br>
				<a href="{{ "/#join" | prepend: site.baseurl }}" data-scrollto="#join">Sign up</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				07.<br>
				<a href="{{ "/#news" | prepend: site.baseurl }}" data-scrollto="#news">News</a>
			</div>
		</li>
		<li class="nav__item">
			<div class="nav__item__inner">
				08.<br>
				<a href="{{ "/#team" | prepend: site.baseurl }}" data-scrollto="#team">Team</a>
			</div>
		</li>
	</ul>
</nav>
