<nav class="nav hidden">
	<ul class="nav__list ">
		<li class="nav__item"><a href="{{ "/#mission" | prepend: site.baseurl }}" data-scrollto="#mission">01.<br>Mission</a></li>
		<li class="nav__item"><a href="{{ "/#about" | prepend: site.baseurl }}" data-scrollto="#site">02.<br>The site</a></li>
		<li class="nav__item"><a href="{{ "/#vision" | prepend: site.baseurl }}" data-scrollto="#vision">03.<br>Vision</a></li>
		<li class="nav__item"><a href="{{ "/#timeline" | prepend: site.baseurl }}" data-scrollto="#timeline">04.<br>Timeline</a></li>
		<li class="nav__item"><a href="{{ "/#principles" | prepend: site.baseurl }}" data-scrollto="#principles">05.<br>Ten principles</a></li>
		<li class="nav__item"><a href="{{ "/#join" | prepend: site.baseurl }}" data-scrollto="#join">06.<br>Join us</a></li>
		<li class="nav__item"><a href="{{ "/#news" | prepend: site.baseurl }}" data-scrollto="#news">07.<br>News</a></li>
		<li class="nav__item"><a href="{{ "/#team" | prepend: site.baseurl }}" data-scrollto="#team">08.<br>Team</a></li>
	</ul>
</nav>
