<div class="rail rail--right">
	<nav class="nav">
		<ul class="nav__list">
			<li class="nav__item one"><a href="#Vision">Vision</a></li>
			<li class="nav__item two"><a href="#About">About</a></li>
			<li class="nav__item three"><a href="#Join">Join</a></li>
			<li class="nav__item four"><a href="#News">News</a></li>
			<li class="nav__item five"><a href="#Team">Team</a></li>
			<li class="nav__item nav__toggle">
				<a href="#"><div class="nav__hamburger"></div></a>
			</li>
		</ul>
	</nav>
	<div class="logo">
		<a href="#"><img src="images/Logo.svg"></a>
	</div>
</div>
