<div class="rail rail--right">
	<nav class="nav">
		<ul class="nav__list">
			<li class="nav__item"><a href="{{ "/#mission" | prepend: site.baseurl }}" data-scrollto="#mission">Miss<br>&ndash;ion</a></li>
			<li class="nav__item"><a href="{{ "/#about" | prepend: site.baseurl }}" data-scrollto="#about">About</a></li>
			<li class="nav__item"><a href="{{ "/#join" | prepend: site.baseurl }}" data-scrollto="#join">Join</a></li>
			<li class="nav__item"><a href="{{ "/#news" | prepend: site.baseurl }}" data-scrollto="#news">News</a></li>
			<li class="nav__item"><a href="{{ "/#team" | prepend: site.baseurl }}" data-scrollto="#team">Team</a></li>
			<li class="nav__item nav__toggle">
				<a href="#"><div class="nav__hamburger"></div></a>
			</li>
		</ul>
	</nav>
	<div class="logo">
		<a href="/#top" data-scrollto="#top">{% include icons/mp-logo.svg %}</a>
	</div>
</div>
