<div class="rail rail--right">
	<nav class="nav">
		<ul class="nav__list">
			<!-- <li class="nav__item"><a href="#mission">Mission</a></li> -->
			<li class="nav__item"><a href="{{ "#mission" | prepend: site.baseurl }}">Mission</a></li>
			<!-- <li class="nav__item"><a href="#about">About</a></li> -->
			<li class="nav__item"><a href="{{ "#about" | prepend: site.baseurl }}">About</a></li>
			<!-- <li class="nav__item"><a href="#join">Join</a></li> -->
			<li class="nav__item"><a href="{{ "#join" | prepend: site.baseurl }}">Join</a></li>
			<!-- <li class="nav__item"><a href="#news">News</a></li> -->
			<li class="nav__item"><a href="{{ "#news" | prepend: site.baseurl }}">News</a></li>
			<!-- <li class="nav__item"><a href="#team">Team</a></li> -->
			<li class="nav__item"><a href="{{ "#team" | prepend: site.baseurl }}">Team</a></li>
			<li class="nav__item nav__toggle">
				<a href="#"><div class="nav__hamburger"></div></a>
			</li>
		</ul>
	</nav>
	<div class="logo hidden">
		<a href="#top">{% include icons/mp-logo.svg %}</a>
	</div>
</div>
