/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid { display: none; }
.grid.show { display: block; }

/* Slick (default)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Arrows
.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
	width: 50px;
    height: 53px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 99;
}
.slick-prev {
	background: url(../images/arrows/arrow-left.svg);
	background-repeat: no-repeat;
}
.slick-next {
	background: url(../images/arrows/arrow-right.svg);
	background-repeat: no-repeat;
}
@include media-query(768px) {
	.slick-arrow {
		width: 65px;
	}
}
@include media-query(1024px) {
	.slick-arrow {
		width: 44px;
	}
}
@include media-query(1280px) {
	.slick-arrow {
		width: 65px;
	}
}

/* Rails
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail {
	width: 12.5%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	.hidden {
		display: none;
	}
	// background: lightblue;
}
@import	"rail-left";
@import	"rail-right";

/* Front Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
	position: relative;
	padding: 3rem 0;

}
// section:before {
// 	content: '';
// 	position: absolute;
// 	display: block;
// 	width: 240px;
// 	height: 96px;
// 	background: #fff;
// 	left: 12.5%;
// 	top: -48px;
// 	background: $darkblue;
// }
section p {
	font-size: 1rem;
	line-height: 1.3;
	font-weight: bold;
	color: $indigo;
}
figure {
	margin: 0 0 1.5rem;
	img {
		display: block;
		width: 100%;
		&.has-border {
			box-sizing: border-box;
			border: solid 12px $indigo;
		}
	}
}
figcaption {
	margin-top: 12px;
	font-size: 0.75rem;
	font-weight: bold;
}
@include media-query(1280px) {
	section p {
		font-size: .875rem;
	}
	figcaption {
		font-size: 0.5rem;
	}
}
@include media-query(1600px) {
	section {
		padding: 4rem 0;

	}
	section p {
		font-size: 1rem;
		line-height: 1.3;
	}
}

.hidden {
	display: none;
}
.video {
	// margin: 0;
	margin-top: .75rem;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	border: 12px solid $indigo;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Color BG
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// background: pink;

}

.transparent-bg {
	background-color: transparent !important;
}

/* Front Page Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import	"front-page/title";
@import "front-page/hero";
@import	"front-page/mission";
@import "front-page/site";
@import "front-page/vision";
@import "front-page/timeline";
@import "front-page/principles";
@import "front-page/join";
@import "front-page/news";
@import "front-page/team";

/* News Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "news";

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	position: relative;
	height: 12rem;
	box-sizing: border-box;
	padding: 1rem 0;
	background: url(../images/patterns/pattern_1.gif);
	background-repeat: no-repeat;
	background-size: 300%;
}
.footer__arrow {
	position: absolute;
	left: 7.5%;
	bottom: 27px;
	// text-align: center;
	z-index: 999;
	a {
		display: block;
		width: 100%;
		height: 100%;
		svg {
			width: 53px;
		}
	}
}
.footer__hashtag {
	line-height: 1;
	text-align: center;
	margin: 0;
	margin-top: 12px;
	font-size: 2rem;
}
.footer__social-buttons {
	text-align: center;
	margin-top: .5rem;
	svg {
		width: 30px;
		height: 30px;
	}
}
@include media-query(768px) {
	.footer {
		height: 8rem;
	}
	.footer__arrow {
		left: 4%;
		bottom: 24px;
	}
}
@include media-query(1024px) {
	.footer {
		height: 5.6rem;
		background: transparent;
	}
	.footer__arrow {
		left: 4%;
		bottom: 52px;
	}
	.footer__social-buttons {
		margin-top: .25rem;
	}
}
@include media-query(1280px) {
	.footer {
		height: 218px;
		overflow: hidden;
	}
	.footer__arrow {
		left: 4%;
		bottom: 60px;
	}
	.footer__hashtag {
		font-size: 1.25rem;
	}
	.footer__social-buttons {
		margin-top: 0rem;
	}
}
@include media-query(1440px) {
	.footer {
		height: 250px;
		overflow: hidden;
	}
	.footer__arrow {
		left: 4%;
		bottom: 72px;
	}
	.footer__hashtag {
		margin-top: 30px;
		font-size: 1.25rem;
	}
	.footer__social-buttons {
		margin-top: 0rem;
	}
}
@include media-query(1600px) {
	.footer {
		height: 260px;
	}
	.footer__arrow {
		bottom: 74px;
	}
	.footer__hashtag {
		margin-top: 18px;
	}
	.footer__social-buttons {
		margin-top: -12px;
	}
}
@include media-query(2000px) {
	.footer__arrow {
		bottom: 80px;
	}
	.footer__hashtag {
		margin-top: -6px;
	}
	.footer__social-buttons {
		margin-top: -24px;
	}
}
