/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid { display: none; }
.grid.show { display: block; }

/* Slick (default)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Arrows
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
	width: 65px;
    height: 53px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 9999;
}
.slick-prev {
	background: url(../images/arrows/arrow-left.svg);
	background-repeat: no-repeat;
}
.slick-next {
	background: url(../images/arrows/arrow-right.svg);
	background-repeat: no-repeat;
}

/* Rails
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail {
	width: 12.5%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	.hidden {
		display: none;
	}
	// background: lightblue;
}
@import	"rail-left";
@import	"rail-right";

/* Front Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	background: url(../images/pattern-1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
section {
	position: relative;
	padding: 3rem 0;

}
section p {
	font-size: 1rem;
	line-height: 1.3;
	font-weight: bold;
	color: $indigo;
}
figure {
	margin: 0 0 1.5rem;
	img {
		width: 100%;
		&.has-border {
			box-sizing: border-box;
			border: solid 12px $indigo;
		}
	}
}
figcaption {
	font-size: 0.75rem;
	font-weight: bold;
}
@include media-query(1280px) {
	section p {
		font-size: .875rem;
	}
	figcaption {
		font-size: 0.5rem;
	}
}
@include media-query(1600px) {
	section {
		padding: 4rem 0;

	}
	section p {
		font-size: 1rem;
		line-height: 1.3;
	}
}

.hidden {
	display: none;
}

/* Color BG
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// background: pink;

}

.transparent-bg {
	background-color: transparent !important;
}

/* Front Page Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import	"front-page/title";
@import "front-page/hero";
@import	"front-page/mission";
@import "front-page/site";
@import "front-page/vision";
@import "front-page/timeline";
@import "front-page/principles";
@import "front-page/join";
@import "front-page/news";
@import "front-page/team";

/* News Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "news";

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	position: relative;
	height: 10rem;
	box-sizing: border-box;
	padding: 1rem 0;
}
.footer__arrow {
	text-align: center;
	color: $indigo;
	z-index: 9999;
	a {
		display: block;
		width: 100%;
		height: 100%;
		z-index: 99999;
		svg {
			width: 1rem;
		}
	}
}
.footer__hashtag {
	line-height: 3rem;
	text-align: center;
	margin: 1rem 0 0.5rem;
	font-size: 2rem;
}
.footer__instagram-button {
	text-align: center;
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
}
@include media-query(768px) {
	.footer {
		height: 8rem;
	}
	.footer__arrow {
		position: absolute;
		width: 12.5%;
		left: 0;
		top: 50%;
		transform: translateY(-5%);
	}
	.footer__hashtag {
		line-height: 1;
		margin: 0;
		margin-top: 1.25rem;
	}
	.footer__instagram-button {
		margin-top: .75rem;
		svg {
			width: 1rem;
			height: 1rem;
		}
	}
}
@include media-query(1024px) {
	.footer {
		height: 201px;
		overflow: hidden;
		padding: 0;
	}
	.footer__arrow {
		// background: yellow;
		transform: translateY(-40%);
	}
	.footer__hashtag {
		position: absolute;
		line-height: 201px;
		height: 201;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.footer__instagram-button {
		position: absolute;
		width: .75rem;
		height: .75rem;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 144px;
		svg {
			width: .75rem;
			height: .75rem;
		}
	}
}
@include media-query(1280px) {
	.footer {
		height: 240px;
		overflow: hidden;
		padding: 0;
	}
	.footer__arrow {
		// background: yellow;
		transform: translateY(-40%);
	}
	.footer__hashtag {
		position: absolute;
		line-height: 201px;
		height: 201;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	.footer__instagram-button {
		position: absolute;
		width: .75rem;
		height: .75rem;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 144px;
		svg {
			width: .75rem;
			height: .75rem;
		}
	}
}

// .footer {
// 	position: relative;
// 	height: 8rem;
// }
// .footer__arrow {
// 	position: absolute;
// 	top: 50%;
// 	width: 12.5%;
// 	left: 0;
// 	text-align: center;
// 	color: $indigo;
// 	z-index: 9999;
// 	a {
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		z-index: 99999;
// 	}
// 	svg {
// 		width:36px;
// 	}
// }
//
// .footer__hashtag h2 {
// 	line-height: 1;
// 	text-align: center;
// 	margin: 0;
// 	font-size: 1.5rem;
// }
//
//
// .instagram-icon {
// 	width: 29px;
// 	height: 29px;
// 	display: block;
// 	margin: auto;
// 	margin-top: -75px;
// }
