.title {
	position: fixed;
	width: 600px;
	height: 100px;
	background: transparent;
	transform: rotate(-90deg);
	transform-origin:  50% 300%;
	top: 50%;
	left: calc(6.25% - 50px);
	margin-top: -300px;
	text-align: center;
	z-index: 99999;
	// background: red;
}

.title h2 {
	margin: 0;
	margin-top: -12px;
	line-height: 112px;
	display: inline-block;
	// line-height: 2.25rem;
	font-size: 2.25rem;
	// background: pink;
	position: relative;
	color: $darkblue;
}

.title h2:after {
	content: '';
	display: block;
	background: $darkblue;
	height: 6px;
	width: 100%;
	position: absolute;
	top: 82px;
}

.outline {
	text-shadow:	4px 0 0 $text-color,
					4px 4px 0 $text-color,
					4px -4px 0 $text-color,
					-4px 0 0 $text-color,
					-4px 4px 0 $text-color,
					-4px -4px 0 $text-color,
					0 4px 0 $text-color,
					0 -4px 0 $text-color,
					4px 0 0 $text-color,
					-4px 0 0 $text-color;
}

// ------------------------------------------------
// rail

.rail {
	width: 12.5%;
	height: 100%;
	position: fixed;
	// background: lightblue;
	top: 0;
	z-index: 9999;
}

// ------------------------------------------------
// left rail

.rail--left {
	left: 0;
}

.join-sticker {
	position: absolute;
	width: 100px;
	top: 6%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.1111;
}

.join-sticker a {
	color: $darkblue;
	text-decoration: none;
}

.arrow {
	position: absolute;
	width: 100px;
	bottom: 4%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: $darkblue;
}

// ------------------------------------------------
// right rail

.rail--right {
	right: 0;
}

.logo {
	position: absolute;
	right: 20%;
	bottom: 4%;
	// transform: scale(2,2);
}

// nav

.nav {
	position: absolute;
	top: 6%;
	right: 22%;
	// width: 96px;
	border-radius: 54px;
	background: transparent;

	.nav__list {
		display: block;
		text-align: center;
		list-style: none;
		position: relative;
		width: 102px;
	}
	.nav__item {
		width: 90px;
		height:90px;
		border-radius: 54px;
		-webkit-border-radius: 54px;
		-moz-border-radius: 54px;
		border: solid;
		border-width: 6px;
		border-color: $darkblue;
		color: $darkblue;
		font-weight: bold;
		line-height: 90px;
		transition: top .25s ease-in-out, opacity .25s ease-in-out;
		margin: 0;
		position: absolute;
		top: 0;
		opacity: 0;

		&.active {
			background: $darkblue;
			color: #fff;
		}

		& a:hover {
			text-decoration: none;
			// color: $lightblue;
		}

		&.nav__item--active {
			background: $darkblue;
			color: #fff;
		}
	}
	.nav__toggle  {
		opacity: 1;
		.nav__hamburger {
			position: relative;
			width: 48px;
			height: 24px;
			margin: 33px auto;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				width: 48px;
				height: 6px;
				background: $darkblue;
				transition: all 0.225s ease-in-out;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				width: 48px;
				height: 6px;
				background: $darkblue;
				transition: all 0.225s ease-in-out;
			}
		}
	}
}

.nav.open {
	.nav__item {
		opacity: 1;
		&.one{
			top: (102px + 16px);
		}
		&.two{
			top: (2*102px + 2*16px);
		}
		&.three{
			top: (3*102px + 3*16px);
		}
		&.four{
			top: (4*102px + 4*16px);
		}
		&.five{
			top: (5*102px + 5*16px);
		}
	}
	.nav__toggle {
		.nav__hamburger:before {
			transform: rotate(45deg);
			top: 9px;
		}
		.nav__hamburger:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}
}

// ------------------------------------------------
// sections

section {
	min-height: 100vh;
	padding: 8rem 0;
	// background: rgba(0, 0, 0, .1);
}
section p {
	font-size: 3rem;
	font-weight: bold;
	color: $darkblue;
}

.current {}

.hero-section {
	position: relative;
	// background:
	.hero-logo {
		position: absolute;
		transform: scale(4,4);
		top: 50%;
		left: 50%;
		// margin-top: -365.5px;
		// margin-left: -435px;
		margin-top: -300px;
		margin-left: -109px;
	}
}


.vision-section {
	position: relative;
	background-color: $lightblue;
}

.about-section {
	position: relative;
	background-color: $lightgreen;

	#map {
		width: 666px;
  		height: 461px;
	}

	.timeline {}
}

.join-section {
	position: relative;
	background-color: $lightyellow;
}

.news-section {
	position: relative;
	background-color: $lightpink;
}

.team-section {
	position: relative;
}

// ------------------------------------------------

.image {}

.image__caption {}

.image__content {}
