/* News Post content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body.news-page {
	// background: url(../images/pattern-2.jpg);
	background: $lightred;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.news-post__wrapper {

	background-color: none;
	margin-top: 4rem;

	h1 {
		// position: fixed;
		// right: 100px;
		font-size: 3rem;
		letter-spacing: normal;
		// text-align: right;
	}

	.news-post__list {

		background: none;

		a {
			// color: white;
			text-decoration: none;

			&:hover li {
				background: white;
			}
		}


		li {
			list-style: none;
			background: $lightpink;
			border-bottom: solid 12px $indigo;
			padding: 1rem 2rem 0 1rem;

			h3 {
				font-size: 3rem;
				margin-top: 0;


				a:hover {
					opacity: .8;
				}
			}

			p {
				// color: white;
				font-weight: bold;
			}
			time {
			}
		}

	}
}

.post {
	background: white;
	margin-top: 4rem;

}

.post__header {

	h1 {
		letter-spacing: normal;
	}

}

.post__title{}

.post__content {
	font-weight: bold;

}

.back-to-news a {
	color: white;
}

.logo--news-page {
	position: fixed;
	right: 60px;
	bottom: 50px;
}
