
/* Right Rail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rail--right {
	right: 0;
	background: transparent;
	transition: background-color .2s;
	.logo {
		position: absolute;
		right: 18px;
		bottom: 12px;
		// transform: translateX(0%);
		transition: bottom .2s;
		svg {
			width: 120px;
			height: 101px;
		}
	}
}
.rail--right.out {
	z-index: -1;
	.logo {
		bottom: -25%;
	}
}
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
	width: 96px;
	height: 96px;
	position: absolute;
	top: 18px;
	right: 18px;
	border-radius: 50%;
	transition: all .2s ease-in-out;
	overflow: hidden;
}
.rail--right.out {
	.nav {
		top: -25%;
	}
}
.nav__list {
	list-style: none;
	position: relative;
}
.nav__item {
	position: absolute;
	top: 0;
	right: 0;
	width: 96px;
	height: 96px;
	box-sizing: border-box;
	border: 6px solid $darkblue;
	border-radius: 50%;
	opacity: 0;
	transform: rotate(90deg);
	transition: all .2s ease-in-out;
	a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		display: block;
		line-height: 132px;
		transition: color .25s;
		font-weight: bold;
		font-size: 1.25rem;
	}
		&.active {
			background: $darkblue;
			a {
				color: #fff;
			}
		}

		&:hover {
			// color: $lightblue;
			background: $darkblue;
			a {
				text-decoration: none;
				color: #fff;
			}
		}
		&:first-child {
			a {
				line-height: 1;
				margin-top: 36px;
			}
		}
}
.nav__toggle  {
	opacity: 1;
	transform: rotate(0deg);
	&:hover {
		background-color: transparent;
		a {
			color: $darkblue;
		}
	}
}
.nav__hamburger {
	position: relative;
	width: 48px;
	height: 24px;
	margin: 32px auto;
	transition: margin .2s;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		width: 48px;
		height: 6px;
		background: $darkblue;
		transition: all 0.2s ease-in-out;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 48px;
		height: 6px;
		background: $darkblue;
		transition: all 0.2s ease-in-out;
	}
}

.rail--right.nav-open {
	width: 100%;
	background-color: $lightpink;
	nav {
		width: 312px;
		height: 480px;
		right: 31.5px;
		top: 36px;
		border-radius: 0;
		.nav__list {
			width: auto;
		}
		.nav__item {
			width: 144px;
			height: 144px;
			position: absolute;
			opacity: 1;
			transform: rotate(0deg);
			&:nth-child(1){
				right: 168px;
			}
			&:nth-child(2){
				right: 168px;
				top: 168px;
			}
			&:nth-child(3){
				top: 168px;
			}
			&:nth-child(4){
				top: 336px;
				right: 168px;
			}
			&:nth-child(5){
				top: 336px;
			}
		}
		.nav__toggle {
			position: absolute;
			.nav__hamburger {
				margin: 54px auto;
			}
			.nav__hamburger:before {
				transform: rotate(45deg);
				top: 9px;
			}
			.nav__hamburger:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
	// .logo {
	// 	right: 50%;
	// 	// transform: translateX(50%);
	// }
}


@include media-query(1024px) {

	/* Right Rail
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.rail--right {
		right: 0;
		.logo {
			right: 24px;
			bottom: 15px;
			svg {
				width: 180px;
				height: 151px;
			}
		}
	}

	.rail--right.out {
		.logo {
			bottom: -25%;
		}
	}

	/* Nav
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.nav {
		width: 120px;
		height: 120px;
		position: absolute;
		top: 24px;
		right: 24px;
		// transform: translateX(50%);
		// background: red;
		border-radius: 50%;
		transition: top .25s;
	}
	.rail--right.out {
		.nav {
			top: -25%;
		}
	}
	.nav__list {
		list-style: none;
		position: relative;
	}
	.nav__item {
		box-sizing: border-box;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		border: 6px solid $darkblue;
		color: $darkblue;
		font-weight: bold;
		transition: top .25s ease-in-out, opacity .25s ease-in-out, background-color .25s;
		margin: 0;
		position: absolute;
		top: 0;
		opacity: 0;

		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			display: block;
			line-height: 108px;
			transition: color .25s;
			font-size: .8333rem;
		}

		&.active {
			background: $darkblue;
			a {
				color: #fff;
			}
		}

		&:hover {
			// color: $lightblue;
			background: $darkblue;
			a {
				text-decoration: none;
				color: #fff;
			}
		}
		&:first-child {
			a {
				line-height: 1;
				margin-top: 24px;
			}
		}
	}
	.nav__toggle  {
		opacity: 1;
		&:hover {
			background-color: transparent;
			a {
				color: $darkblue;
			}
		}
	}
	.nav__hamburger {
		position: relative;
		width: 48px;
		height: 24px;
		margin: 42px auto;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: 48px;
			height: 6px;
			background: $darkblue;
			transition: all 0.225s ease-in-out;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 48px;
			height: 6px;
			background: $darkblue;
			transition: all 0.225s ease-in-out;
		}
	}

	.nav.open {
		.nav__item {
			opacity: 1;
			&:nth-child(1){
				top: (120px + 12px);
			}
			&:nth-child(2){
				top: (2*120px + 2*12px);
			}
			&:nth-child(3){
				top: (3*120px + 3*12px);
			}
			&:nth-child(4){
				top: (4*120px + 4*12px);
			}
			&:nth-child(5){
				top: (5*120px + 5*12px);
			}
		}
		.nav__toggle {
			.nav__hamburger:before {
				transform: rotate(45deg);
				top: 9px;
			}
			.nav__hamburger:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
}
@include media-query(1280px) {
	.nav {
		top: 2.25%;
	}
	.nav__item {
		&:first-child {
			a {
				line-height: 1;
				margin-top: 26px;
			}
		}
		a {
			font-size: .625rem;
		}
	}
	.rail--right {
		.logo {
			bottom: 12px;
			svg {
				width: 200px;
				height: 168px;
			}
		}
	}
}
@include media-query(1440px) {
	.rail--right {
		.logo {
			bottom: 12px;
			svg {
				width: 240px;
				height: 202px;
			}
		}
	}
}
@include media-query(1600px) {
	.rail--right {
		.logo {
			bottom: 21px;
			right: 36px;
			svg {
				width: 288px;
				height: 242px;
			}
		}
		&.out {
			.logo {
				bottom: -30%;
			}
		}
	}
	.nav {
		right: 36px;
	}
	.nav__item {
		a {
			font-size: .5rem;
		}
	}
}
@include media-query(2000px) {
	.nav__item {
		a {
			font-size: .416666667rem;
		}
	}
}

.logo.out {
	bottom: -30%;
}
