<!-- Join -->
<section class="join-section" id="join" data-bg-color="rgb(255, 148, 189)">
	<div class="title top">
		<h2 class="underline">06. &mdash; Sign up</h2>
	</div>
	<div class="container">
		<div class="bg-pattern-1">
			<img src="images/patterns/join_bg_pattern.svg" />
		</div>
		<div class="bg-pattern-2">
			<img src="images/patterns/join_bg_pattern.svg" />
		</div>
		<div class="bg-pattern-3">
			<img src="images/patterns/join_bg_pattern.svg" />
		</div>
		<div class="row">
			<h2 class="section__title col-4">Sign up</h2>
			<div class="p1">
				<p class="join-intro">Be a maker. Join now to get updates on events and other important news.</p>
			</div>
		</div>
		<form class="join-form" id="join-form" action="javascript:alert( 'success!' );">
			<fieldset class="row">
				<div class="col-3 join-form__first-name">
					<input id="firstname" type="text" name="firstname" placeholder="First Name" required>
				</div>
				<div class="col-3 join-form__last-name">
					<input id="lastname" type="text" name="lastname" placeholder="Last Name" required>
				</div>
			</fieldset>
			<fieldset class="row">
				<div class="col-6 join-form__email">
					<input id="email" type="email" name="email" placeholder="Email address" required>
				</div>
				<div class="col-6 join-form__volunteer u-cf">
					<div class="checkbox">
						<input id="volunteer" type="checkbox" name="volunteer">
						<div class="checkbox__x"></div>
					</div>
					<label class="checkbox__label" for="volunteer">I'd like to volunteer with Maker Park</label>
				</div>
			</fieldset>
			<textarea class="col-6" placeholder="Comments..."></textarea>
			<div class="row">
				<div class="col-6 join-form__submit sent">
					<input id="submit" type="submit" name="submit" value="Sign up">
				</div>
			</div>
		</form>
	</div>
</section>
