
<!-- Mission -->
<section class="mission-section" id="mission">
	<div class="title top">
		<h2 class="underline">Mission</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div>
					<p>Maker Park is a vision for an adaptive reuse park along
					the Williamsburg waterfront that captures the creative ethos
					of the neighborhood around it&mdash;and reflects its rich history
					by breathing new life into the site's industrial fabric.</p>
					<p>The idea springs from an awareness that both our
					waterfront heritage and the local creative community is
					being wiped away at alarming speed. Maker Park is poised to
					achieve the acute community need for green open space while
					also serving as a dynamic, interactive, and educational
					public park that speaks to Brooklyn’s past, present, and
					future.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<figure class="col-5">
				<img class="has-border" src="images/renderings/rendering-01.jpg">
				<figcaption>Rendering by Studio V</figcaption>
			</figure>
		</div>
	</div>
</section>
