<!-- News (Front Section) -->
<section class="news-section" id="news">
	<div class="title top">
		<h2 class="underline">News</h2>
	</div>
	<div class="container">
		<div class="row">
			<ul class="news-list">

				{% for post in site.posts %}
					<li class="col-2">
						<div class="news-block">
							<a href="{{ post.url | prepend: site.baseurl }}">
								<div class="news-block__inner">
									<h3 class="news-block__title">{{ post.title }}</h3>
									<time class="news-block__timestamp">{{ post.date | date: "%b %-d, %Y" }}</time>
								</div>
							</a>
						</div>
					</li>
				{% endfor %}

				<li class="col-2">
					<div class="news-block news-block--see-all">
						<a href="{{ "/news" | prepend: site.baseurl }}">
							<div class="news-block__inner">
								<h3 class="news-block__title">See more news</h3>
							</div>
						</a>
					</div>
				</li>

			</ul>
		</div>
	</div>
</section>
