<!-- News -->
<section class="news-section" id="news">
	<div class="title top">
		<h2 class="underline">News</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="#">
							<h3>Maker Park Brainstorming Session</h3>
							<p>July 14, 2016</p>
						</a>
					</div>
				</div>
			</div>
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="#">
							<h3>Maker Park Brainstorming Session</h3>
							<p>July 14, 2016</p>
						</a>
					</div>
				</div>
			</div>
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="#">
							<h3>Maker Park Brainstorming Session</h3>
							<p>July 14, 2016</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="#">
							<h3>Maker Park Brainstorming Session</h3>
							<p>July 14, 2016</p>
						</a>
					</div>
				</div>
			</div>
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="#">
							<h3>Maker Park Brainstorming Session</h3>
							<p>July 14, 2016</p>
						</a>
					</div>
				</div>
			</div>
			<div class="news__block col-2">
				<div class="news__button">
					<div class="news__text">
						<a href="/news">
							<h3>See All</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
