
<section class="principles" id="principles">
	<div class="title top">
		<h2 class="underline">Principles</h2>
	</div>
	<div class="container">
		<div class="row">
			<ol class="principles__list">
				<li class="col-3 principles__item">
					<h3>01<br>Support the whole park</h3>
					<p>Complete the entire Bushwick Inlet Park</p>
				</li>
				<li class="col-3 principles__item">
					<h3>02<br>Incorporate community input</h3>
					<p>Integrate 2007 community requests: open space, playing fields, wetlands, performance, dog run, boat house</p>
				</li>
				<li class="col-3 principles__item">
					<h3>03<br>Preserve Brooklyn's waterfront</h3>
					<p>Celebrate Brooklyn's ecological & industrial heritage</p>
				</li>
				<li class="col-3 principles__item">
					<h3>04<br>Provide community amenities</h3>
					<p>Support community maker space, culture, arts, creative industry</p>
				</li>
				<li class="col-3 principles__item">
					<h3>05<br>Open the park</h3>
					<p>Utilize NYC Park's new open design standards</p>
				</li>
				<li class="col-3 principles__item">
					<h3>06<br>Maximize green space</h3>
					<p>Provide same green space as 2007 proposal, with more diverse uses</p>
				</li>
				<li class="col-3 principles__item">
					<h3>07<br>Propose real solutions</h3>
					<p>Adress environmental, ecological, social, & economic needs</p>
				</li>
				<li class="col-3 principles__item">
					<h3>08<br>Maintain an open process</h3>
					<p>Include the public, community groups, & government agencies</p>
				</li>
				<li class="col-3 principles__item">
					<h3>09<br>Clean up the site</h3>
					<p>Employ the safest, most cost effective, least intrusive remediation strategy</p>
				</li>
				<li class="col-3 principles__item">
					<h3>10<br>Create a sustainable park</h3>
					<p>Create a sustainable economic model for community programming</p>
				</li>
		</div>
	</div>
</section>
