<!-- About (top) -->
<!-- Site -->
<section class="about-site-section" id="about">
	<div class="title top">
		<h2 class="underline">About the Site</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div>
					<p>The site for Maker Park is a seven-acre waterfront parcel,
						historically the home of one of Brooklyn’s most
						important industrial enterprises, Astral Oil Works,
						founded by businessman and philanthropist Charles
						Pratt.
					</p>
				</div>
			</div>
		</div>
		<div class="row historic">
			<div class="col-2 offset-1">
				<div class="historic__image">
					<img src="images/historic/noborder/oilworks.jpg">
				</div>
				<div class="caption">Pratt's Astral Oilworks</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<p>After decades of industrial decline, the site, which came
					to be known as the Bayside Fuel Terminal, became a hub
					for hundreds of artists, makers and entrepreneurs,
					sitting at the very heart of Williamsburg’s thriving
					creative scene.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="map offset-1" id="map"></div>
		</div>
		<div class="row">
			<div class="col-4">
				<p>Besides its cultural and historical
					significance, the Bayside lot is overflowing with
					architectural character, including a three-story brick
					building with soaring ceilings and factory windows, and
					a series of 50-foot tall cylindrical, decommissioned
					fuel containers that rise from the ground to create a
					beautiful and other-worldly industrial topography.
				</p>
			</div>
		</div>
		<div class="row" class="site-images" id="slider">
			<div class="col-5">
				<div class="site-images__slider">
					<div class="image">
						<img src="images/site-gallery/01.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/02.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/03.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/04.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/05.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/06.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/07.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/08.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/09.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/10.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/11.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/12.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/13.jpg">
					</div>
					<div class="image">
						<img src="images/site-gallery/14.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
