<!-- Site -->
<section class="site-section" id="about">
	<div class="title top">
		<h2 class="underline">The site</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div>
					<p>The site for Maker Park is a waterfront
					parcel that was historically the home of one of Brooklyn’s most
					important industrial enterprises: Astral Oil Works,
					founded by businessman and philanthropist Charles
					Pratt. Pratt sold this site and used the funds to found
					Pratt Institute, an egalitarian and trade/maker-based
					school that still thrives in the heart of Brooklyn.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<figure class="col-3">
				<img class="has-border" src="images/historic/oilworks-duotone.png">
				<figcaption>Pratt's Astral Oilworks</figcaption>
			</figure>
		</div>
		<div class="row">
			<div class="col-4">
				<p>Nearly a century later, the former industrial site blossomed
				into a hub for hundreds of artists, makers and entrepreneurs,
				sitting at the very heart of Williamsburg’s thriving creative 
				scene.</p>
			</div>
		</div>
		<div class="row">
			<div class="map col-5" id="map"></div>
		</div>
		<div class="row">
			<div class="col-4">
				<p>Besides its cultural and historical
					significance, the Bayside lot is overflowing with
					architectural character, including a three-story brick
					building with soaring ceilings and factory windows, and
					a series of 50-foot tall cylindrical, decommissioned
					fuel containers that rise from the ground to create a
					beautiful and other-worldly industrial topography.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-5">
				<div class="carousel site-photos">
					<div class="carousel__count"><p></p></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/01.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/02.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/03.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/04.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/05.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/06.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/07.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/08.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/09.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/10.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/11.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/12.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/13.jpg);"></div>
					<div class="carousel__image" style="background-image: url(images/site-gallery/14.jpg);"></div>
				</div>
			</div>
		</div>
	</div>
</section>
