<!-- Team -->
<section class="team-section" id="team" data-bg-color="rgb(255, 128, 83)">
	<div class="title top">
		<h2 class="underline">08. &mdash; Team</h2>
	</div>
	<div class="container">
		<div class="bg-pattern-1">
			<img src="images/patterns/team_bg_pattern.svg" />
		</div>
		<div class="row">
			<h2 class="section__title col-4">Team</h2>
			<div class="col-6">
				<!-- Founding Team -->
				<figure class="team-photo">
					<img class="has-border" src="images/team/team-orig.jpg">
					<figcaption>The Maker Park Team: Zachary Waldman, Karen Zabarsky, and Stacey Anderson</figcaption>
				</figure>
			</div>
		</div>
		<!-- Expert Team -->
		<div class="row expert-team">
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/studio-v.png">
			</div>
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/ken-smith.png">
			</div>
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/capital-environmental.png">
			</div>
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/tillotson.png">
			</div>
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/spr.png">
			</div>
			<div class="expert-team-block">
				<img class="expert-team-block__image" src="images/expert-team-logos/pentagram.png">
			</div>
		</div>
	</div>
</section>
