

<!-- Team -->
<section class="team-section" id="team">
	<div class="title top">
		<h2 class="underline">Team</h2>
	</div>
	<div class="container">
		<!-- Founding Team -->
		<div class="row">
			<div class="team-block col-2">
				<div class="team-block__image one">
					<img src="images/team/stacey.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Stacey Anderson</h3>
					<p class="team-block__bio">Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Morbi sodales, ligula vitae
					egestas laoreet, purus turpis rutrum eros, at blandit
					libero orci sit amet magna.</p>
				</div>
			</div>
			<div class="team-block col-2">
				<div class="team-block__image two">
					<img src="images/team/zac.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Zachary Waldman</h3>
					<p class="team-block__bio">Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Morbi sodales, ligula vitae
					egestas laoreet, purus turpis rutrum eros, at blandit
					libero orci sit amet magna.</p>
				</div>
			</div>
			<div class="team-block col-2">
				<div class="team-block__image three">
					<img src="images/team/karen.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Karen Zabarsky</h3>
					<p class="team-block__bio">Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Morbi sodales, ligula vitae
					egestas laoreet, purus turpis rutrum eros, at blandit
					libero orci sit amet magna.</p>
				</div>
			</div>
		</div>
		<!-- Expert Team -->
		<div class="row expert-team">
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image one">
					<img src="images/expert-team-logos/studio-v.png">
				</div>
			</div>
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image two">
					<img src="images/expert-team-logos/ken-smith.png">
				</div>
			</div>
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image three">
					<img src="images/expert-team-logos/capital-environmental.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image four">
					<img src="images/expert-team-logos/tillotson.png">
				</div>
			</div>
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image five">
					<img src="images/expert-team-logos/spr.png">
				</div>
			</div>
			<div class="expert-team-block col-2">
				<div class="expert-team-block__image six">
					<img src="images/expert-team-logos/pentagram.png">
				</div>
			</div>
		</div>
	</div>
</section>
