<!-- Team -->
<section class="team-section" id="team">
	<div class="title top">
		<h2 class="underline">Team</h2>
	</div>
	<div class="container">
		<div class="row">
			<figure class="col-6">
				<img class="has-border" src="images/team/team.jpg">
				<figcaption>The Maker Park Team: Zachary Waldman, Karen Zabarsky, and Stacey Anderson</figcaption>
			</figure>
		</div>

		<!-- Founding Team -->
		<!-- <div class="row">
			<div class="team-block col-2">
				<div class="team-block__image">
					<img src="images/team/stacey.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Stacey Anderson</h3>
					<!-- <p class="team-block__bio">is co-founder and Director
						of Public Affairs for Maker Park. She is also Director
						of Public Programs and Community Engagement at The Municipal
						Art Society of New York, a leading urban advocacy
						organization. Stacey previously managed outreach efforts
						for public artist and landscape architect, Mary Miss, and
						served as project consultant to Toronto-based initiative,
						YouthfulCities. She holds a master’s degree in Urban Social
						Policy from the University of Amsterdam.</p> - ->
				</div>
			</div>
			<div class="team-block col-2">
				<div class="team-block__image">
					<img src="images/team/zac.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Zachary Waldman</h3>
					<!-- <p class="team-block__bio">is co-founder and Director
						of Development for Maker Park. Zach originally lived
						on the site and has been integral to the conception,
						design and strategic development of the Maker Park project.
						He is currently Director of Brand Development at
						digital media firm mllnnl (a company that was created in the
						original Maker Park building). He is also the creator and host
						of The Futurist Sessions, a monthly event at Soho House
						exploring pertinent issues of the impending future.</p> - ->
				</div>
			</div>
			<div class="team-block col-2">
				<div class="team-block__image">
					<img src="images/team/karen.png">
				</div>
				<div class="team-block__info">
					<h3 class="team-block__name">Karen Zabarsky</h3>
					<!-- <p class="team-block__bio">is co-founder and Director of
						Design for Maker Park. She is currently the Creative
						Director for Kushner, a prominent real estate developer
						in New York City. Karen previously worked at SHoP
						Architects, STUDIO V Architecture, as well as
						Villa La Pietra in Florence, Italy, where she focused
						on the 15th century paintings archive. She graduated as
						a Presidential Honors Scholar from NYU, where she studied
						Urban Design/Architecture and Business.</p> - ->
				</div>
				<!-- She studied Urban
				Design/Architecture and Business at NYU. - ->
			</div>
		</div> -->
		<!-- Expert Team -->
		<div class="row expert-team">
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/studio-v.png">
			</div>
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/ken-smith.png">
			</div>
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/capital-environmental.png">
			</div>
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/tillotson.png">
			</div>
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/spr.png">
			</div>
			<div class="expert-team-block col-2">
				<img class="expert-team-block__image" src="images/expert-team-logos/pentagram.png">
			</div>
		</div>
	</div>
</section>
