<!-- Vision -->
<section class="vision-section" id="vision" data-bg-color="rgb(145, 230, 223)">
	<div class="title top">
		<h2 class="underline">03. &mdash; Vision</h2>
	</div>
	<div class="container">
		<div class="bg-pattern-1">
			<img src="images/patterns/vision_bg_pattern_2.svg" />
		</div>
		<!-- <div class="bg-pattern-2">
			<img src="images/patterns/vision_bg_pattern.svg" />
		</div> -->
		<div class="row">
			<h2 class="section__title col-6">Vision</h2>
			<div class="p1">
				<p>Rather than demolishing these structures, Maker Park
					recognizes the potential to re-imagine them as a
					habitable eco-system, satisfying the need for green
					space while also creating a new kind of commons uniquely of
					and for Williamsburg. These fossils of Brooklyn’s
					bygone industrial era could be integrated into the
					landscape of the park, serving as an important reminder
					of the waterfront’s complex and layered history.
				</p>
			</div>
			<div class="p2">
				<p>Activated for contemporary uses, the tanks could turn
					into viewing platforms, performances spaces, rotating
					sound and art exhibitions, and greenhouses.  The
					building could be adaptively reused for community uses,
					as well as a community-accessible maker space that
					helps to expand the definition of recreation beyond
					traditional uses, while also reflecting the current
					culture of collaboration and making so central to
					Williamsburg's character. The possibilities are
					virtually endless, but only if we embrace the rich
					industrial legacy that’s been left to us.
				</p>
			</div>
		</div>
		<div class="image-stack">
			<img class="has-border image-stack__item" src="images/renderings/01.jpg">
			<img class="has-border image-stack__item" src="images/renderings/02.jpg">
			<img class="has-border image-stack__item" src="images/renderings/03.jpg">
			<img class="has-border image-stack__item" src="images/renderings/04.jpg">
			<img class="has-border image-stack__item" src="images/renderings/05.jpg">
			<img class="has-border image-stack__item" src="images/renderings/06.jpg">
			<img class="has-border image-stack__item" src="images/renderings/07.jpg">
		</div>
		<div class="row">
			<div class="video embed-container" data-video-iframe="<iframe src='https://www.youtube.com/embed/HJFXNadDCws?autoplay=1' frameborder='0' allowfullscreen></iframe>" style="background: black url('/images/video-thumbnail.jpg') no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; overflow:hidden; cursor:pointer;"></div>
			<div class="p3">
				<p>The vision for Maker Park debuted during a presentation by Stacey Anderson at the annual MAS summit in 2015.</p>
			</div>
		</div>
	</div>
</section>
