<!-- Vision -->
<section class="vision-section" id="vision">
	<div class="title top">
		<h2 class="underline">Vision</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div>
					<p>Rather than demolishing these structures, Maker Park
						recognizes the potential to re-imagine them as a
						habitable eco-system, satisfying the need for green
						space while creating a new kind of commons uniquely of
						and for Williamsburg. These fossils of Brooklyn’s
						bygone industrial era could be integrated into the
						landscape of the park, serving as an important reminder
						of the waterfront’s complex and layered history.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<figure class="col-5">
					<img class="has-border" src="images/renderings/rendering-01.jpg">
					<figcaption>Rendering by Studio V</figcaption>
			</figure>
		</div>
		<div class="row">
			<div class="col-4">
				<div>
					<p>Activated for contemporary uses, the tanks could turn
						into viewing platforms, performances spaces, rotating
						sound and art exhibitions, and greenhouses.  The
						building could be adaptively reused for community uses,
						as well as a community-accessible maker space that
						helps to expand the definition of recreation beyond
						traditional uses, while also reflecting the current
						culture of collaboration and making so central to
						Williamsburg's character. The possibilities are
						virtually endless, but only if we embrace the rich
						industrial legacy that’s been left to us.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
