<!DOCTYPE html>
<html>

	{% include head.html %}

	<body class="front-page" id="top">

		{% include grid.html %}

		{% include left-rail.html %}

		{% include right-rail.html %}

		{{ content }}

		{% include footer.html %}

		{% include js.html %}

		<!-- Slick -->
		<script type="text/javascript" src="{{ "/lib/js/slick.min.js" | prepend: site.baseurl }}"></script>

		<!-- jQuery Color -->
		<script type="text/javascript" src="{{ "/lib/js/jquery.color.js" | prepend: site.baseurl }}"></script>

		<!-- GSAP -->
		<script type="text/javascript" src="{{ "/lib/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>

		<!-- ScrollMagic -->
		<script type="text/javascript" src="{{ "/lib/js/ScrollMagic.min.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="{{ "/lib/js/animation.gsap.min.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="{{ "/lib/js/debug.addIndicators.min.js" | prepend: site.baseurl }}"></script>

		<!-- Google Map -->
		<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx0KQ47A7OQ_yL31SSo66lC-wRoCpWqGo&callback=initMap"></script> -->
		<!-- <script type="text/javascript" src="{{ "/js/map.js" | prepend: site.baseurl }}"></script> -->

		<!-- Form JS -->
		<script type="text/javascript" src="{{ "/js/form.js" | prepend: site.baseurl }}"></script>

		<!-- Front Page JS -->
		<script type="text/javascript" src="{{ "/js/front.js" | prepend: site.baseurl }}"></script>

	</body>

</html>
