// ------------------------------------------------
// about

.about-section {
	position: relative;
	background-color: $lightgreen;

	.map {
		width: 99.4%;
		height: 1200px;
		margin-top: 4rem;
		margin-bottom: 4rem;
		border: solid 12px $darkblue;
		border-right: none;
	}
}

.historic__image {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	border: solid 12px $darkblue;
	margin-top: 4rem;

	img {
		position: absolute;
		// min-height: 100%;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.caption {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
}

// slick carousel for site images
.carousel {
	max-height: 90vh;
	overflow: hidden;
}

.image-carousel {
	position: relative;
	width: 100%;
	height: 1123px;
	overflow: hidden;
	border: solid 12px $darkblue;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.image {

	img {
		height: 100%;
	}
}

// slick carousel for timeline
.timeline__container {
	// width: 100%;
	height: 1123px;
	// border: solid 12px $darkblue;
}
.timeline__item {}


// Slick arrows
.slick-prev ,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 92%;

    display: block;

    width: 53px !important;
    height: 65px !important;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 9999;
}
.slick-prev {
	left: 25px;
	transform: rotate(90deg);
}
.slick-next {
	right: 25px;
	transform: rotate(-90deg);
}

// slick dots
.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

// principles
.principle__sub p {
	font-size: 1.5rem;
}
.principle__item h2 {
	color: white;
	font-size: 5rem;
	float: left;
	line-height: 5rem;
	margin-bottom: 1rem;
}
.principle__item p {
	font-size: 1.5rem;
}

// timeline
.timeline {}
