
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-section {
	position: relative;
	height: 100vh;
	padding: 0;

	.hero-logo {
		width: 275px;
		height: 231px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		img {
			width: 100%;
		}
	}
}


@include media-query(1024px) {
	.hero-section {
		position: relative;
		height: 100vh;
		padding: 0;

		.hero-logo {
			width: 800px;
			height: 672px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

			img {
				width: 100%;
			}
		}
	}

}
