/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-section {
	position: relative;
	height: 100vh;
	padding: 0;
}
.hero__bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/patterns/pattern_1.gif);
	background-repeat: no-repeat;
	background-size: 300%;
}
@include media-query(1024px) {
	.hero__bg {
		background-size: cover;
		background-position: center;
	}
}
.hero__logo {
	width: 275px;
	height: 231px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	img {
		width: 100%;
	}
}
.hero__tagline {
	font-size: .75rem;
	text-align: center;

	width: 90%;
	margin: 0 5%;
	display: block;
	position: absolute;
	bottom: 1rem;
}
.notice-sticker {
	background: $lightgreen;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	overflow: hidden;
	position: absolute;
	top: -180px;
	left: -40px;
	cursor: pointer;
	padding: 24px;
	transform: rotate(-10deg);
	p {
		font-size: .75rem;
		display: block;
		margin-bottom: .4rem;
		margin-top: .5rem;
		text-align: center;
	}
	h3 + p {
		margin-top: .5rem;
		margin-bottom: 0;
	}
	h3 {
		font-size: 1rem;
		text-align: center;
		line-height: 1;
		margin: 0;
	}
}
.notice-sticker--aiany {
	img {
		margin-top: .8rem;
		margin-left: 15%;
		width: 70%;
		margin-bottom: 0.4rem;
	}
}
@include media-query(375px) {
	.hero__tagline {
		font-size: 1rem;
	}
}
@include media-query(500px) {
	.hero__logo {
		width: 360px;
		height: 302px;
	}
}
@include media-query(768px) {
	.hero__logo {
		width: 500px;
		height: 420px;
	}
	.hero__tagline {
		width: 60%;
		margin: 0 20%;
		bottom: 2rem;
	}
	.notice-sticker {
		width: 200px;
		height: 200px;
		top: -180px;
		left: -40px;
		transform: rotate(-10deg);
		p {
			font-size: .675rem;
			margin-bottom: .4rem;
			margin-top: 1rem;
		}
		h3 + p {
			margin-top: .5rem;
			margin-bottom: 0;
		}
		h3 {
			font-size: .875rem;
		}

	}
	.notice-sticker--aiany {
		img {
			margin-top: 1rem;
		}
	}
}
@include media-query(1024px) {
	.hero__logo {
		width: 512px;
		height: 430px;
	}
	.hero__tagline {
		font-size: .833rem;
		width: 50%;
		margin: 0 25%;
		bottom: 1rem;
	}
	.notice-sticker {
		width: 180px;
		height: 180px;
		top: -155px;
		left: -15px;
		transform: rotate(-10deg);
		p {
			font-size: .5rem;
			margin-bottom: .4rem;
			margin-top: .5rem;
		}
		h3 + p {
			margin-top: .5rem;
			margin-bottom: 0;
		}
		h3 {
			font-size: .75rem;
		}

	}
	.notice-sticker--aiany {
		img {
			margin-top: .7rem;
			margin-bottom: 0.35rem;
		}
	}
}
@include media-query(1280px) {
	.hero__logo {
		width: 600px;
		height: 504px;
	}
	.hero__tagline {
		width: 75%;
		margin: 0 12.5%;
		bottom: .75rem;
	}
	.notice-sticker {
		width: 240px;
		height: 240px;
		top: -120px;
		right: -180px;
		left: auto;
		padding: 24px;
		transform: rotate(10deg);
		p {
			font-size: .5rem;
			margin-bottom: .25rem;
			margin-top: 1rem;
		}
		h3 + p {
			margin-top: .3rem;
			margin-bottom: 0;
		}
		h3 {
			font-size: .675rem;
			line-height: 1;
		}

	}
}
@include media-query(1400px) {
	.hero__logo {
		width: 700px;
		height: 588px;
	}
}
@include media-query(1600px) {
	.hero__logo {
		width: 800px;
		height: 672px;
	}
	.hero__tagline {
		font-size: .75rem;
		bottom: .75rem;
	}
	.notice-sticker {
		border-radius: 50%;
		width: 240px;
		height: 240px;
		overflow: hidden;
		position: absolute;
		top: -70px;
		right: -160px;
		left: auto;
		cursor: pointer;
		padding: 24px;
		transform: rotate(10deg);
		p {
			font-size: .375rem;
			display: block;
			margin-bottom: .25rem;
			margin-top: .8rem;
			text-align: center;
		}
		h3 + p {
			margin-top: .3rem;
			margin-bottom: 0;
		}
		h3 {
			font-size: .5rem;
			text-align: center;
			line-height: 1;
			margin: 0;
		}
	}
	.notice-sticker--aiany {
		img {
			margin-top: .75rem;
			margin-left: 15%;
			width: 70%;
			margin-bottom: 0.2rem;
		}
		h3 {
			width: 90%;
			margin-left: 5%;
		}
	}
}
@include media-query(2000px) {
	.notice-sticker {
		width: 240px;
		height: 240px;
		top: -70px;
		right: -160px;
		left: auto;
		padding: 24px;
		transform: rotate(10deg);
		p {
			font-size: .375rem;
			margin-bottom: .25rem;
			margin-top: .5rem;
		}
		h3 + p {
			margin-top: .3rem;
			margin-bottom: 0;
		}
		h3 {
			font-size: .4375rem;
			line-height: 1;
		}
	}
}
