/* Principles Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.principles {
	background-color: $lightpurple;
}
.principles__list {
	list-style: none;
	counter-reset: principles;
	margin: 0;
}
.principles__item {
	position: relative;
	margin-bottom: 0rem;
	box-sizing: border-box;
}
.principles__item:before {
	content: counter(principles, decimal-leading-zero);
	counter-increment: principles;
	font-size: 2rem;
	line-height: 1.0;
	font-weight: bold;
	color: $indigo;
}
.principles__item h3 {
	color: white;
	// color: $indigo;
	font-size: 2rem;
	line-height: 1.0;
	margin-top: 0;
	margin-bottom: 0.25rem;
}
.principles__item p {
	font-size: 1rem;
	// color: white;
}

@include media-query(768px) {
	.principles__item {
		margin-bottom: 1rem;
	}
}

@include media-query(1024px) {}
@include media-query(1280px) {
	.principles__item {
		padding-right: 1rem;
		margin-bottom: 2rem;
		h3 {
			font-size: 1.5rem;
		}
		&:before {
			font-size: 1.5rem;
		}
		p {
			font-size: 0.5rem;
			margin-bottom: 0;
		}
	}
}

// @include media-query(1024px) {
// .principles {
// 	background-color: $lightpurple;
//
// 	.title {
// 		margin-bottom: 6rem;
// 	}
// }
// .principles__list {
// 	list-style: none;
// 	counter-reset: principles;
// }
// .principles__item {
// 	position: relative;
// 	margin-bottom: 2rem;
// 	box-sizing: border-box;
// 	// padding-right: 2rem;
// 	// padding-left: 8rem;
// }
// .principles__item:before {
// 	content: counter(principles, decimal-leading-zero);
// 	// content: counter(principles) " ";
// 	counter-increment: principles;
// 	font-size: 5rem;
// 	line-height: 1.0;
// 	font-weight: bold;
// 	color: $indigo;
// 	// color: white;
// 	// position: absolute;
// 	// top: 0;
// 	// bottom: 0;
// 	// left: 1rem;
// }
// .principles__item h3 {
// 	color: white;
// 	// color: $indigo;
// 	font-size: 5rem;
// 	line-height: 1.0;
// 	margin-top: 0;
// 	margin-bottom: 1rem;
// }
// .principles__item p {
// 	font-size: 1.5rem;
// 	// color: white;
// }
