.about-site-section {
	background: $lightgreen;

	p {
		margin-bottom: 0;
	}
}

.historic {}

.historic__image {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	border: solid 12px $indigo;
	margin-top: 4rem;

	img {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.caption {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
}

.map {
	// width: 99.4%;
	height: 1200px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	border: solid 12px $indigo;
}

// Slick slider for site images
.site-images {
	max-height: 90vh;
	overflow: hidden;
}

.site-images__slider {
	position: relative;
	width: 100%;
	height: 1123px;
	overflow: hidden;
	border: solid 12px $indigo;
	margin-top: 4rem;
	margin-bottom: 4rem;

	.image {
		img {
			height: 100%;
		}
	}
}
