/* Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.team-section {
	background-color: transparent;
}
.team-block {
	margin-bottom: 2rem;
}
.team-block__image {
	padding: 0 1rem;
	img {
		width: 100%;
	}
}
.team-block__info {
	text-align: center;
	margin-top: 0.5rem;
}
.team-block__name {
	font-size: 1.25rem;
	margin: 0;
	// color: #fff;
}
.team-block__bio {
	font-size: .75rem;
	font-weight: bold;
	// text-align: left;

	margin-bottom: 0;
}
/* Expert Team */
.expert-team {
	padding-top: 2rem;
}
.expert-team-block {
	padding: 1rem;
	margin-bottom: 1rem;
	&:nth-child(1) .expert-team-block__image {
		width: 50%;
	}
	&:nth-child(6) .expert-team-block__image {
		width: 75%;
	}
}
.expert-team-block__image {
	display: block;
	width: 100%;
	margin: auto;
}

@include media-query(768px) {
	.team-block {
		padding: 0 4rem;
	}
	.team-block__image {
		padding: 0;
	}
	.team-block__name {
		font-size: 1rem;
	}
	.team-block__bio {
		font-size: .75rem;
	}
	.expert-team {
		padding-top: 2rem;
	}
	.expert-team-block {
		&[class*='col-'] {
			height: 5rem;
			padding: 1rem;
		}
		&:nth-child(1) .expert-team-block__image {
			width: 60%;
		}
	}
	.expert-team-block__image {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
@include media-query-range(768px, 1439px) {
	.expert-team-block {
		&[class*='col-'] {
			width: 50%;
		}
	}
}
@include media-query-range(1024px, 1439px) {
	.team-block {
		&[class*='col-'] {
			width: 50%;
			float: left;
		}
	}
}
@include media-query(1024px) {
	.team-block {
		margin-bottom: 0.5rem;
		&[class*='col-'] {
			padding: 0.5rem;
		}
	}
	.team-block__info {
		margin-top: 0.25rem;
	}
	.team-block__bio {
		font-size: 0.5rem;
	}
	.expert-team-block {
		&[class*='col-'] {
			padding: 0 1rem;
			height: 4rem;
		}
	}
}
@include media-query(1280px) {
	.team-block {
		&[class*='col-'] {
			padding: 0.25rem;
		}
	}
}
@include media-query(1440px) {
	.team-block__info {
		// padding: 0 .15rem;
	}
	.team-block__name {
		font-size: .5rem;
	}
	.team-block__bio {
		font-size: 0.5rem;
	}
	.expert-team {
		margin-top: 1rem;
	}
	.expert-team-block {
		&[class*='col-'] {
			padding: 0 0.5rem;
			height: 3rem;
		}
	}
}
