.about-timeline-section {
	background: $lightblue;
}

/* Slick slider (Timeline)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline__slider {
	height: 1090px;
	// border: solid 6px $indigo;

	.slick-prev {
		top: 0;
		right: 300px;
		margin-top: 4rem;
	}

	.slick-next {
		top: 0;
		right: 100px;
		margin-top: 4rem;
	}
}

.timeline__item {
	height: 100%;
	width: 100%;

	h2 {
		font-size: 3rem;
		// line-height: 3rem;
		margin-top: 3rem;
	}
	p {
		// border-top: solid 6px $indigo;
		color: white;
	}
}

.next-date {
	bottom: -25px;
	right: -100px;
	font-size: 1rem;
}
