.timeline-section {
	background: $lightblue;
}

/* Timeline Carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-carousel {
	margin: 4rem -1rem 0;

	.slick-arrow {
		top: -3rem;
		width: 4rem;
	}
	.slick-prev {
		left: 1rem;
	}
	.slick-next {
		left: 7rem;
	}
}

.timeline__item {
	height: 100%;
	width: 100%;
	margin: 0 1rem;

	h2 {
		font-size: 5rem;
		margin-bottom: 0;
		z-index: 999999;
	}
	p {
		// border-top: solid 6px $indigo;
		color: white;
	}
}

.next-date {
	bottom: -25px;
	right: -100px;
	font-size: 1rem;
}




@include media-query(1024px) {
/* Timeline Carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-carousel {
	margin: 0 -1rem;

	// Arrows
	.slick-prev {
		top: 3.1rem;
		right: 90px;
	}

	.slick-next {
		top: 3.1rem;
		right: 0;
	}

	// Dots
	.slick-dots
	{
	    position: absolute;
	    // bottom: 25px;
		top: 3.25rem;
		right: 185px;

	    display: block;

	    // width: 100%;
	    padding: 0;
	    margin: 0;

	    list-style: none;
	    text-align: center;
	}
	.slick-dots li
	{
	    position: relative;
	    display: inline-block;

	    width: 20px;
	    height: 20px;
	    margin: 0 .5rem;
	    padding: 0;

	    cursor: pointer;
	}
	.slick-dots li button
	{
	    font-size: 0;
	    line-height: 0;

	    display: block;

	    width: 20px;
	    height: 20px;
	    padding: 5px;

	    cursor: pointer;

	    // color: transparent;
	    border: 0;
	    outline: none;
	    // background: transparent;
	}
	.slick-dots li button:hover,
	.slick-dots li button:focus
	{
	    outline: none;
	}
	.slick-dots li button:hover:before,
	.slick-dots li button:focus:before
	{
		opacity: 1;
		background-color: white;
	}
	.slick-dots li button:before
	{
	    font-family: 'slick';
	    // font-size: 6px;
		font-size: 6rem;
	    line-height: 20px;

	    position: absolute;
	    top: 0;
	    left: 0;

	    width: 20px;
	    height: 20px;

		border-radius: 50%;
		// border: solid 6px $indigo;
		background: $indigo;

	    content: '';
	    text-align: center;

	    color: $indigo;

	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	.slick-dots li.slick-active button:before
	{
	    background: white;
	}
}

.timeline__item {
	height: 100%;
	width: 100%;
	margin: 0 1rem;

	h2 {
		font-size: 5rem;
		margin-bottom: 0;
		z-index: 999999;
	}
	p {
		// border-top: solid 6px $indigo;
		color: white;
	}
}

.next-date {
	bottom: -25px;
	right: -100px;
	font-size: 1rem;
}

}
