.about-timeline-section {
	background: $lightblue;
}

// Slick slider for timeline
.timeline__slider {
	height: 1090px;
}
.timeline__item {
	height: 100%;
	width: 100%;
}

.next-date {
	bottom: -25px;
	right: -100px;
	font-size: 1rem;
}
