
/* Section Titles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title {
	width: 90%;;
	margin: 0 auto;
	margin-bottom: 4rem;

	h2 {
		display: inline-block;
		position: relative;
		// background: pink;
		margin: 0;
		font-size: 3rem;
		line-height: 1.0;
		letter-spacing: 0;

		&:after {
			content: '';
			display: block;
			background: $darkblue;
			height: 6px;
			width: 100%;
			position: absolute;
			top: 101%;
		}
	}
}



@include media-query(1024px) {
.title {
	position: absolute;
	width: 600px;
	height: 100px;
	background: transparent;
	transform: rotate(-90deg);
	transform-origin:  50% 300%;
	left: calc(6.25% - 50px);
	text-align: center;
	z-index: 99999;
	// background: red;

	&.stuck {
		position: fixed;
		top: 50%;
		margin-top: -300px;
	}

	&.top {
		top: 200px;
		bottom: auto;
	}
	&.bottom {
		top: auto;
		bottom: (200px + 500px);
	}

	// TODO
	&.news-page-title {
		position: fixed;
		left: 55px;
		top: 25%;
		letter-spacing: normal;

		h1 {
			letter-spacing: normal;
			font-size: 3rem;
		}
	}
}

.title h2 {
	margin: 0;
	margin-top: -12px;
	line-height: 112px;
	display: inline-block;
	// line-height: 2.25rem;
	font-size: 2.25rem;
	// background: pink;
	position: relative;
	color: $indigo;
}

.title h2:after {
	content: '';
	display: block;
	background: $indigo;
	height: 6px;
	width: 100%;
	position: absolute;
	top: 82px;
}

.outline {
	text-shadow:	4px 0 0 $text-color,
					4px 4px 0 $text-color,
					4px -4px 0 $text-color,
					-4px 0 0 $text-color,
					-4px 4px 0 $text-color,
					-4px -4px 0 $text-color,
					0 4px 0 $text-color,
					0 -4px 0 $text-color,
					4px 0 0 $text-color,
					-4px 0 0 $text-color;
}

}
