
/* Vision
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.vision-section {
	background-color: $lightturquoise;
	min-height: 800vh;

	.section__title {
		position: fixed;
		left: 12.5%;
		top: 15%;
	}
	.p1 {
		position: fixed;
		width: 37.5%;
		top: 30%;
	}
	.p2 {
		position: fixed;
		width: 37.5%;
		left: 50%;
		top: 44.8%;
	}
	.bg-pattern-1 {
		position: fixed;
		left: 40%;
		top: 0%;
		width: 75%;
		height: 117%;
	}
	.bg-pattern-2 {
		position: fixed;
		left: 12.5%;
		top: 12.5%;
		width: 75%;
		height: 117%;
	}
	.image-stack {
		position: fixed;
		top: 12.5%;
		left: 12.5%;
		width: 75%;
		height: 0;
		padding-bottom: 54%;
		// background: rgba(0,0,0,0.1);

		img {
			position: absolute;
			width: 50%;
			left: 0;

			&:nth-child(1) {
				top: 48px;
				width: 83.334%;
				z-index: 7;
			}
			&:nth-child(2) {
				top: 72px;
				width: 66.667%;
				z-index: 6;
			}
			&:nth-child(3) {
				left: 96px;
				width: 66.667%;
				z-index: 5;
			}
			&:nth-child(4) {
				top: 192px;
				left: calc(16.667% + 48px);
				width: 66.667%;
				z-index: 4;
			}
			&:nth-child(5) {
				top: 48px;
				left: 48px;
				width: 50%;
				z-index: 3;
			}
			&:nth-child(6) {
				width: 100%;
				z-index: 2;
				display: none;
			}
			&:nth-child(7) {
				top: 96px;
				width: 100%;
				z-index: 1;
			}
		}

	}
}
