.vision-section {
	background-color: transparent;
}

.vision__image {
	height: 1130px;
	border: solid 12px $indigo;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 4rem;

	img {
		width: 100%;
	}
}
